html{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.5;
}
body{
	background-color: $primary-color;
	color: $font-color;
}
.btn:hover {
    cursor: pointer;
}
.btn.active, .btn:active{
	box-shadow: none;
}
a{
	color: $font-color;
	-webkit-appearance: NONE!important;
}
a:hover{
	color: $font-color;
}



// change later
// #performance{
// 	.portfolio{
// 		h3{
// 			color: white;
// 		}
// 		.card{
// 			color: black;
// 		}
// 	}
// 	.benchmarks{
// 		h3{
// 			color: black;
// 		}
// 		.card{
// 			color: black;
// 		}
// 	}
// 	.timespans{
// 		color: black;
// 		.form-control{
// 			color: black;
// 		}
// 	}
// }
// .benchmarks:nth-of-type(7){
// 	.card:nth-of-type(n+2){
// 		visibility: hidden;
// 	}
// }