/finance/files/node_modules/*/
/finance/static/*/
/db.sqlite3
/.idea
/logs/**
node_modules/
app/js/**
app/css/**
app/libs/**

*.sqlite3
*.gitignore
*.pyc
**/__pycache__
**/migrations
package-lock.json
