{% extends "layout/lm.j2" %}

{% set headingCategory="Dashboard" %}
{% set headingHeading="Overview" %}
{% set title="Overview" %}

{% block main %}

    {% import "symbols/button.j2" as bg %}
    {% import "symbols/modal.j2" as mg %}

    {{ mg.djangoModal("Edit Bucket", "editBucket") }}
    {{ mg.djangoModal("Delete Bucket", "deleteBucket") }}

    <table class="table rounded table-responsive-md table-dark mb-5">
        <thead>
            <tr>
                <th scope="col">Bucket</th>
                <th class="text-end" scope="col">Amount</th>
                <th class="text-end" scope="col">Percentage</th>
                <th class="text-end" scope="col">Wanted</th>
                <th class="text-end" scope="col">Diff</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for bucket in buckets %}
            <tr>
                <td>{{ bucket.name }}</td>
                <td class="text-end">{{ bucket.get_amount() }}</td>
                <td class="text-end">{{ bucket.get_percentage() }}</td>
                <td class="text-end">{{ bucket.get_wanted_percentage() }}</td>
                <td class="text-end">{{ bucket.get_diff() }}</td>
                <td>
                    <div class="d-flex align-items-center justify-content-end">
                        {% if bucket.pk %}
                        {{ bg.modalButton("Edit", "#editBucket", url("overview:edit_bucket", args=[bucket.pk])) }}
                        {{ bg.modalButton("Delete", "#deleteBucket", url("overview:delete_bucket", args=[bucket.pk])) }}
                        {% else %}
                        {{ bg.hrefButton("Open", url("overview:bucket", args=[bucket.name])) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td class="text-end">{{ total.amount }}</td>
                <td class="text-end">{{ total.percentage }}</td>
                <td class="text-end">{{ total.wanted }}</td>
                <td class="text-end">{{ total.diff }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
