{% extends "layout/lm.njk" %}

{% set headingCategory="Dashboard" %}
{% set headingHeading="Overview" %}
{% set title="Overview" %}

{% block main %}

    {% import "symbols/button.njk" as bg %}

    <div class="d-flex justify-content-center mt-2 mb-5">
        <div class="btn-group" role="group" aria-label="Console">
            {{ bg.hrefButton("Stats", request.path + '?tab=stats', active=(tab=='stats')) }}
            {{ bg.hrefButton("Charts", request.path + '?tab=charts', active=(tab=='charts')) }}
            {{ bg.dropdownButton("Calculations", active=(tab=="values" or tab=="flows")) }}
            <div class="dropdown-menu dropdown-menu-dark py-1">
                <a class="dropdown-item btn-sm" href="?tab=values">Values</a>
            </div>
        </div>
    </div>

    {% include 'symbols/stats.j2' %}

    {% if tab=='values' %}
        <table class="table table-dark table-responsive rounded">
            <thead>
            <tr>
               <th scope="col">Date</th>
                {% for column in value_df.columns %}
                    <th class="text-end" scope="col">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for index, row in value_df.iterrows() %}
                <tr>
                    <td>{{ index.strftime('%d.%m.%Y') }}</td>
                    {% for value in row %}
                        <td class="text-end">{{ "%.2f"|format(value) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if tab=='charts' %}
        {% include 'overview/symbols/total_chart.html' %}
    {% endif %}

{% endblock %}
