{% extends "static/lm.njk" %}


{% set activePage="banking" %}
{% set headingCategory="Account" %}
{% set headingHeading=account.name %}
{% set title="Banking " + account.name %}
{% set reverse=url("banking:account", args=[user.slug, account.slug, ]) %}


{% block head %}
	<script type="text/javascript" src="{{ static('app/js/line_bar_chart.js') }}" api-data="{{ url('banking:api_data_account', args=[user.slug, account.slug, ]) }}"></script>
{% endblock %}


{% block chart %}
	<div class="hs-3"></div>
   	<canvas class="chart--canvas" id="line_bar_chart"></canvas>
	<div class="hs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %} 


    {% import "modules/table.njk" as table %}
    {% import "modules/buttons.njk" as buttons %}
    {% import "modules/cards.njk" as cards %}
   
	
    <div class="hs-1"></div>


	<div class="divider">
        <div class="divider--content"> 
            <div class="console" data-toggle="buttons">
            	<label class="console--button active" data-target=".console_stats">
                    <input type="radio">Stats
                </label>
                <label class="console--button" data-target=".console_changes">
                    <input type="radio">Changes
                </label>
            </div>
        </div>
    </div>
	

	<div class="hs-3"></div>


	<div class="wrapper console-target console_stats">
        <div class="table-heading">
            <h2 class="table-heading--heading">Stats</h2>
        </div>
        <hr class="hr">
        <div class="card-deck">
            {% set value %}
                {{ movie.get_values(user, ["b",])["b"] }} {{ user.currency }}
            {% endset %}
            {{ cards.statsCard(heading="Total", value=value) }}
        </div>
        {% for ts in timespans %}
            {% if ts.start_date and ts.is_active %}
                <div class="hs-3"></div>
                <div class="table-heading">
                    <h3 class="table-heading--heading">{{ ts.name }}</h3>
                </div>
                <hr class="hr"></hr>
                <div class="card-deck">
                    {% for data in movie.get_values(user, ["b",], ts) %}
                        {% set heading %}
                            {{ data.start_date }}-{{ data.end_date }}
                        {% endset %}
                        {% set value %}
                            Change: {{ data.b }}
                        {% endset %}
                        {{ cards.statsCard(heading=heading, value=value, small=True) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>


	<div class="wrapper console-target is-hidden console_changes">
		<div class="table-heading">
	        <h2 class="table-heading--heading">Changes</h2>  
	        {{ buttons.buttonModal(text="Deposit / Withdraw", dataTarget="#addChange", data="accountpk=" + account.pk|string) }}   
	    </div>
		<table class="table">
            {{ table.head(["Date", "Category", "Description", "Change", "Balance", "Action"]) }}
            <tbody class="table--body">
                {% for change, picture in changes_pictures | reverse %}
                    {% set tablebuttons %}
                        <div class="d-flex flex-row">
                            {% set data %}
                                {% raw %} { {% endraw %}
                                    'pk': '{{ change.pk }}', 
                                    'account': '{{ account.pk }}',
                                    'category': '{{ change.category.pk }}',
                                    'date': '{{ change.date }}',
                                    'description': '{{ change.description }}',
                                    'change': '{{ change.change }}'
                                {% raw %} } {% endraw %}
                            {% endset %}
                            {{ buttons.buttonModalNew(text="Edit", dataTarget="#editChange", data=data) }}
                            <div class="placeholder"></div>
                            <form method="POST" action="{{ url('banking:delete_change', args=[user.slug, account.slug]) }}">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <input type="hidden" name="pk" value="{{ change.pk }}">
                                <input type="hidden" name="reverse" value="{{ reverse }}">
                                <input type="submit" class='btn btn-sm btn-danger' value="Delete">
                            </form>
                        </div>  
                    {% endset %} 
                    {#{ table.row([change.get_date(), change.category, change.get_description(), change.change, change.get_balance(depot=depot, account=account), tablebuttons | safe]) }#}
                    {{ table.row([change.get_date(user), change.category, change.get_description(), change.change, picture.b, tablebuttons | safe]) }}
                {% endfor %}
            </tbody>
        </table>
	</div>
	

{% endblock %}


{% block modals %}
    {% import "modules/banking/modals.njk" as modals %}
    {{ modals.editChangeModal(user, account, accounts, categories, csrf_token, reverse) }}
	{{ modals.addChangeModal(user, url("banking:add_change", args=[user.slug, account.slug]), categories, csrf_token, reverse) }}
{% endblock %}
