{% extends "static/lm.njk" %}


{% set activePage="crypto" %}
{% set headingCategory="Dashboard" %}
{% set headingHeading="Crypto" %}
{% set title="Crypto" %}
{% set reverse=url("crypto:index", args=[user.slug,]) %}


{% block head %}
    <script src="{{ static('app/js/line_chart_2_axes.js') }}" api-data="{{ url('crypto:api_data_index', args=[user.slug,]) }}"></script>
    <script src="{{ static('app/js/pie_chart.js') }}" api-data="{{ url('crypto:api_data_assets', args=[user.slug,]) }}"></script>
{% endblock %}


{% block chart %}
    <div class="hs-3"></div>
    <canvas class="console-target console_accounts console_stats console_timespans" id="line_chart"></canvas>
    <canvas class="console-target console_assets is-hidden" id="pie_chart"></canvas>
    <div class="hs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %}


    {% import "modules/table.njk" as table %}
    {% import "modules/buttons.njk" as buttons %}
    {% import "modules/modals.njk" as modals %}
    {% import "modules/cards.njk" as cards %}
    {% import "modules/timespan.njk" as timespans %}

    
    <div class="hs-1"></div>


    <div class="divider">
        <div class="divider--content"> 
            <div class="console" data-toggle="buttons">
                <label class="console--button active" data-target=".console_stats">
                    <input type="radio">Stats
                </label>
                <label class="console--button" data-target=".console_accounts">
                    <input type="radio">Accounts
                </label>
                <label class="console--button" data-target=".console_assets">
                    <input type="radio">Assets
                </label>
                <label class="console--button" data-target=".console_timespans">
                    <input type="radio">Time Spans
                </label>
            </div>
        </div>
    </div> 
    

    <div class="hs-3"></div>
 
    
    <div class="wrapper console-target console_stats">
        <div class="table-heading">
            <h2 class="table-heading--heading">Stats</h2>
            {{ buttons.buttonLink(text="Update", url=url("crypto:update_movies", args=[user.slug,])) }}
        </div>
        <hr class="hr">
        {%- set depotData = depot.get_movie().get_all() -%}
        <div class="card-deck">
            {{ cards.statsCard("Invested Capital", depotData.invested, user.currency) }}
            {{ cards.statsCard("Profit", depotData.profit, user.currency) }}
            {{ cards.statsCard("Value", depotData.value, user.currency) }}
        </div>
        <div class="card-deck">
            {{ cards.statsCard("Current Return", depotData.yield, "%") }}
            {{ cards.statsCard("True time weighted return", depotData.true_time_weighted_return, "%")}}
        </div>
        {% for ts in parent_timespans %}
            {% if ts.start_date and ts == depot.timespan %}
                <div class="hs-3"></div>
                <div class="table-heading">
                    <h3 class="table-heading--heading">{{ ts.name }}</h3>
                </div>
                <hr class="hr"></hr>
                <div class="card-deck">
                    {% for data in ts.get_timespans_data(movie, ["g", "cr", ]) %}
                        {% set heading %}
                            {{ data.start_date }}-{{ data.end_date }}  
                        {% endset %}
                        {% set value %}
                            Profit: {{ data.g }} <br>
                            Current Return: {{ data.cr }}
                        {% endset %}
                        {{ cards.statsCard(heading=heading, value=value, small=True) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    
    <div class="wrapper console-target is-hidden console_accounts">
    	<div class="table-heading">
            <h2 class="table-heading--heading">Accounts</h2>  
            {{ buttons.buttonModal(text="Add Account", dataTarget="#addCryptoAccount") }}  
            <div class="placeholder"></div>
            {{ buttons.buttonModal(text="Delete Account", dataTarget="#deleteAccount", class="btn-danger") }}     
        </div>
        <table class="table">
            {{ table.head(["Account", "Assets Value"]) }}
            <tbody class="table--body">
                {% for account in accounts %}
                    {% set name %}
                        <a href="{{ url('crypto:account', args=[user.slug, account.slug, ]) }}" class="link-bold">{{ account.name }}</a>
                    {% endset %} 
                    {% set value %}
                        {{ account.get_movie().get_all().value }} {{ user.currency }}
                    {% endset %}
                    {{ table.row([name | safe, value ]) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <div class="wrapper console-target is-hidden console_assets">
       	<div class="table-heading">
            <h2 class="table-heading--heading">Assets</h2>  
            {{ buttons.buttonLink(text="Update Prices", url=url("crypto:update_prices", args=[user.slug,])) }}
            <div class="placeholder"></div>
            {{ buttons.buttonModal(text="Add Asset", dataTarget="#addCryptoAsset") }}
            <div class="placeholder"></div>
            {{ buttons.buttonModal(text="Remove Asset", dataTarget="#deleteAsset", class="btn-danger") }}  
        </div>
        <table class="table">
            {{ table.head(["Asset", "Current Price", "Amount", "Value", "Profit", "Yield", "Action"]) }}
            <tbody class="table--body">
                {% for asset in assets %}
                    {% set tablebuttons %}
                        <div class="d-flex flex-row">
                            {{ buttons.buttonModal(text="Buy/Sell", dataTarget="#addTrade", data="pk=" + asset.pk|string) }}  
                        </div> 
                    {% endset %}
                    {% set name %}
                        <a href="{{ url('crypto:asset', args=[user.slug, asset.slug, ]) }}" class="link-bold">{{ asset.name }}</a>
                    {% endset %} 
                    {%- set assetData = asset.get_movie(depot).get_all() -%}
                    {{ table.row([name, assetData.price, assetData.amount, assetData.value, assetData.profit, assetData.yield, tablebuttons | safe]) }}
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="wrapper console-target is-hidden console_timespans">
        <div class="table-heading">
            <h2 class="table-heading--heading">Timespans</h2>  
        </div>
        <hr class="hr">
        <div class="hs-1"></div>
        <ul class="timespans">
            {% for ts in parent_timespans %} 
                {{ timespans.timespan(ts, depot, reverse, csrf_token)}}
            {% endfor %}
            {{ timespans.createTimespan(False, reverse, csrf_token) }}
            {{ timespans.createTimespan(True, reverse, csrf_token) }}
        </ul>
    </div>

 
{% endblock %} 
 

{% block modals %}
    {% import "modules/crypto/modals.njk" as modals %}
    {{ modals.addCryptoAccountModal(user, depot.pk, csrf_token, reverse) }}
    {{ modals.addCryptoAssetModal(user, reverse, csrf_token) }}
    {{ modals.deleteAssetModal(user, assets, csrf_token) }}
    {{ modals.addTradeModal(user, reverse, accounts, assets_all, csrf_token) }}
    {#{ modals.deleteAccountModal(user, accounts, csrf_token, reverse) }#}
{% endblock %}
