{% extends "static/lm.njk" %}


{% set activePage="crypto" %}
{% set headingCategory="Account" %}
{% set headingHeading=account.name %}
{% set title="Crypto " + account.name %}


{% block head %}
	<script type="text/javascript" src="{{ static('app/js/line_chart_2_axes.js') }}" api-data="{{ url('crypto:api_data_account', args=[user.slug, account.slug, ]) }}"></script>
{% endblock %}


{% block chart %}
	<div class="hs-3"></div>
    <canvas id="line_chart"></canvas>
    <div class="hs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %}


    {% import "modules/table.njk" as table %}
    {% import "modules/buttons.njk" as buttons %}
    {% import "modules/cards.njk" as cards %}
   
	
	<div class="hs-1"></div>


	<div class="divider">
        <div class="divider--content"> 
            <div class="console" data-toggle="buttons">
            	<label class="console--button active" data-target=".console_stats">
                    <input type="radio">Stats
                </label>
                <label class="console--button" data-target=".console_assets">
                    <input type="radio">Assets
                </label>
                <label class="console--button" data-target=".console_trades">
                    <input type="radio">Trades
                </label>
                <label class="console--button" data-target=".console_transactions">
                    <input type="radio">Transactions
                </label>
            </div>
        </div>
    </div>


	<div class="hs-3"></div>

	
	<div class="wrapper console-target console_stats">
		<div class="table-heading">
            <h2 class="table-heading--heading">Stats</h2>
        </div>
        <hr class="hr">
        {%- set accountData = movie.get_values(user, ["v", ]) -%}
        <div class="card-deck">
            {{ cards.statsCard("Value", accountData.v, user.currency) }}
        </div>
		{% for ts in timespans %}
		    {% if ts.start_date and ts.is_active %}
		        <div class="hs-3"></div>
		        <div class="table-heading">
		            <h3 class="table-heading--heading">{{ ts.name }}</h3>
		        </div>
		        <hr class="hr"></hr>
		        <div class="card-deck">
		            {% for data in movie.get_values(user, ["g", "cr", ], ts) %}
		                {% set heading %}
		                    {{ data.start_date }}-{{ data.end_date }}  
		                {% endset %}
		                {% set value %}
		                    Profit: {{ data.g }} <br>
		                    Current Return: {{ data.cr }}
		                {% endset %}
		                {{ cards.statsCard(heading=heading, value=value, small=True) }}
		            {% endfor %}
		        </div>
		    {% endif %}
		{% endfor %}
	</div>
	
	
	<div class="wrapper console-target is-hidden console_assets">
		<div class="table-heading">
            <h2 class="table-heading--heading">Assets</h2> 
            {{ buttons.buttonModal(text="Buy/Sell Asset", dataTarget="#addTrade") }}
        </div>
		<table class="table ">
		    {{ table.head(["Asset", "Current Price", "Amount", "Value", "Action"]) }}
		    <tbody class="table--body">
		        {% for asset, movie in assets_movies %}
		            {% set tablebuttons %}
		                <div class="d-flex flex-row">
		                	{{ buttons.buttonModal(text="Send", dataTarget="#addTransaction", data="assetpk=" + asset.pk|string) }}
		                </div> 
		            {% endset %}
		            {%- set assetData = movie.get_values(user, ["p", "ca", "v"]) -%}
                    {{ table.row([ asset.name, assetData.p, assetData.ca, assetData.v, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>
	
	
	<div class="wrapper console-target is-hidden console_trades">
		<div class="table-heading">
            <h2 class="table-heading--heading">Trades</h2> 
        </div>
		<table class="table ">
		    {{ table.head(["Date", "Account", "Buy", "Buy Asset", "Sell", "Sell Asset", "Fees", "Fees Asset", "Action"]) }}
		    <tbody class="table--body">
		        {% for trade in trades %}
		            {% set tablebuttons %}
		                <div class="d-flex flex-row">
		                	{% set data %}
		                        {% raw %} { {% endraw %}
		                            'pk': '{{ trade.pk }}', 
		                            'date': '{{ trade.date }}',
		                            'account': '{{ trade.account }}',
		                            'buy_amount': '{{ trade.buy_amount }}',
		                            'buy_asset': '{{ trade.buy_asset }}',
		                            'sell_amount': '{{ trade.sell_amount }}',
		                            'sell_asset': '{{ trade.sell_asset }}',
		                            'fees': '{{ trade.fees }}',
		                            'fees_asset': '{{ trade.fees_asset }}'
		                        {% raw %} } {% endraw %}
		                    {% endset %}
		                    {{ buttons.buttonModalNew(text="Edit", dataTarget="#editTrade", data=data) }}
		                    <div class="placeholder"></div>
		                	<form method="POST" action="{{ url('crypto:delete_trade', args=[user.slug, account.slug]) }}">
							   	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							   	<input type="hidden" name="trade" value="{{ trade.pk }}">
							   	<input type="submit" class='btn btn-sm btn-danger' value="Delete">
							</form>
		                </div> 
		            {% endset %}
		            {{ table.row([trade.date, trade.account, trade.buy_amount, trade.buy_asset, trade.sell_amount, trade.sell_asset, trade.fees, trade.fees_asset, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>


	<div class="wrapper console-target is-hidden console_transactions">
		<div class="table-heading">
            <h2 class="table-heading--heading">Transactions</h2> 
        </div>
		<table class="table ">
		    {{ table.head(["Date", "Asset", "From Account", "To Account", "Amount", "Fees", "Action"]) }}
		    <tbody class="table--body">
		        {% for transaction in transactions %}
		            {% set tablebuttons %}
		                <div class="d-flex flex-row">
		                	{% set data %}
		                        {% raw %} { {% endraw %}
		                            'pk': '{{ transaction.pk }}', 
		                            'date': '{{ transaction.date }}',
		                            'from_account': '{{ transaction.from_account }}',
		                            'to_account': '{{ transaction.to_account }}',
		                            'amount': '{{ transaction.amount }}',
		                            'fees': '{{ transaction.fees }}'
		                        {% raw %} } {% endraw %}
		                    {% endset %}
		                    {{ buttons.buttonModalNew(text="Edit", dataTarget="#editTrade", data=data) }}
		                    <div class="placeholder"></div>
		                	<form method="POST" action="{{ url('crypto:delete_transaction', args=[user.slug, account.slug]) }}">
							   	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							   	<input type="hidden" name="pk" value="{{ transaction.pk }}">
							   	<input type="submit" class='btn btn-sm btn-danger' value="Delete">
							</form>
		                </div>
		            {% endset %}
		            {{ table.row([transaction.date, transaction.asset, transaction.from_account, transaction.to_account, transaction.amount, transaction.fees, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>
	

{% endblock %}


{% block modals %}
	{% import "modules/crypto/modals.njk" as modals %}
	{{ modals.addTransactionModal(user, account, accounts, csrf_token) }}
	{{ modals.addTradeModal(user, accounts, assets_all, csrf_token) }}
	{{ modals.editTradeModal(user, account, accounts, assets_all, csrf_token) }}
{% endblock %}
