{% extends "static/lm.njk" %}


{% set activePage="allocation" %}


{% block main %}


    <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary btn-sm">Settings</button>
    </div>
    <div class="flex-column">
    <canvas id="allocationChart1" width="700" height="700"></canvas>


{% endblock %}