{% extends "static/lm.njk" %}


{% set activePage="portfolio" %}


{% block main %}


			<div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-sm btn-primary ml-1">Add Category</button>
                <button type="button" class="btn btn-danger btn-sm mr-1 ml-1">Sell</button>
                <button type="button" class="btn btn-success btn-sm mr-1">Buy</button>
            </div>
            <div class="flex-column">
                <h2 class="text-center">Shares</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>WKN / ISIN / Ticker</th> 
                            <th>Quantity</th>                               
                            <th>Price Date</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daimler</td>
                            <td>DAI.DE</td>
                            <td>3</td>
                            <td>14.04.2017</td>
                            <td>66,42</td>
                            <td>+5,41%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Amazon</td>
                            <td>AMZ.DE</td>
                            <td>2</td>
                            <td>14.04.2017</td>
                            <td>839,90</td>
                            <td>+0,67%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Nike</td>
                            <td>NKE.DE</td>
                            <td>10</td>
                            <td>13.04.2017</td>
                            <td>52,17</td>
                            <td>-0,57%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="text-center">Exchange Traded Funds</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>WKN / ISIN / Ticker</th> 
                            <th>Quantity</th>                               
                            <th>Price Date</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daimler</td>
                            <td>DAI.DE</td>
                            <td>3</td>
                            <td>14.04.2017</td>
                            <td>66,42</td>
                            <td>+5,41%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Amazon</td>
                            <td>AMZ.DE</td>
                            <td>2</td>
                            <td>14.04.2017</td>
                            <td>839,90</td>
                            <td>+0,67%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Nike</td>
                            <td>NKE.DE</td>
                            <td>10</td>
                            <td>13.04.2017</td>
                            <td>52,17</td>
                            <td>-0,57%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="text-center">Commodities</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>WKN / ISIN / Ticker</th> 
                            <th>Quantity</th>                               
                            <th>Price Date</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daimler</td>
                            <td>DAI.DE</td>
                            <td>3</td>
                            <td>14.04.2017</td>
                            <td>66,42</td>
                            <td>+5,41%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Amazon</td>
                            <td>AMZ.DE</td>
                            <td>2</td>
                            <td>14.04.2017</td>
                            <td>839,90</td>
                            <td>+0,67%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Nike</td>
                            <td>NKE.DE</td>
                            <td>10</td>
                            <td>13.04.2017</td>
                            <td>52,17</td>
                            <td>-0,57%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="text-center">No Category</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>WKN / ISIN / Ticker</th> 
                            <th>Quantity</th>                               
                            <th>Price Date</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daimler</td>
                            <td>DAI.DE</td>
                            <td>3</td>
                            <td>14.04.2017</td>
                            <td>66,42</td>
                            <td>+5,41%</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Category</button></td>
                        </tr>
                        <tr>
                            <td>Amazon</td>
                            <td>AMZ.DE</td>
                            <td>2</td>
                            <td>14.04.2017</td>
                            <td>839,90</td>
                            <td>+0,67%</td>
                            <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="cModal">Category</button></td>
                        </tr>
                        <tr>
                            <td>Nike</td>
                            <td>NKE.DE</td>
                            <td>10</td>
                            <td>13.04.2017</td>
                            <td>52,17</td>
                            <td>-0,57%</td>
                            <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cModal">Category</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modals -->
    <div class="modal fade" id="cModal" tabindex="-1" role="dialog" aria-labelledby="cModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Put a cross on the category you want this object to be placed in.</p>
                    <div class="input-group mb-1">
                        <span class="input-group-addon">
                            <input type="radio" name="ppRadio" aria-label="Checkbox for following stock">
                        </span>
                        <span class="form-control label label-default">Shares</span>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon">
                            <input type="radio" name="ppRadio" aria-label="Checkbox for following stock">
                        </span>
                        <span class="form-control label label-default">Exchange Traded Funds</span>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-addon">
                            <input type="radio" name="ppRadio" aria-label="Checkbox for following stock">
                        </span>
                        <span class="form-control label label-default">Commodities</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modals -->
{% endblock %}