<ul class="nav flex-column">
    <li class="nav-item">
        <p class="nav-link m-0 font-weight-bold">Dashboards</p>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link {% if activePage=='index' %}active{% endif %}" href="index.html">Overview</a>
    </li> -->
    {% if user.banking_is_active %}
    <li class="nav-item">
        <a class="nav-link {% if activePage=='banking' %}active{% endif %}" href="{{ url('banking:index') }}">Banking</a>
    </li>
    {% endif %}
    {% if user.crypto_is_active %}
    <li class="nav-item">
        <a class="nav-link {% if activePage=='crypto' %}active{% endif %}" href="{{ url('crypto:index', args=[user.slug,]) }}">Crypto</a>
    </li>
    {% endif %}
    <li class="m-2"></li>
    <li class="nav-item">
        <p class="nav-link m-0 font-weight-bold">User</p>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if activePage=='settings' %}active{% endif %}" href="{{ url('users:settings') }}">Settings</a>
    </li>
    <li class="m-2"></li>
    <li class="nav-item">
        <p class="nav-link m-0 font-weight-bold">Finance</p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('users:logout') }}">Log Out</a>
    </li>
</ul>