<nav class="navigation">
    <a class="navigation--brand" href="#">
    <img src="{{ static('img/owl.png') }}" width="30" height="30" alt="Owl">
  </a>
    <button class="navigation--toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navigation--toggler--icon"></span>
    </button>
    <div class="navigation--collapse collapse" id="navbar">
        <ul class="navigation--nav">
            <li class="navigation--item">
                <p class="navigation--heading">Dashboards</p>
            </li>
            <!-- <li class="navigation--item">
                <a class="navigation--link {% if activePage=='index' %}navigation--link--is-active{% endif %}" href="index.html">Overview</a>
            </li> -->
            {% if user.banking_is_active %}
            <li class="navigation--item">
                <a class="navigation--link {% if activePage=='banking' %}navigation--link--is-active{% endif %}" href="{{ url('banking:index') }}">Banking</a>
            </li>
            {% endif %}
            {% if user.crypto_is_active %}
            <li class="navigation--item">
                <a class="navigation--link {% if activePage=='crypto' %}navigation--link--is-active{% endif %}" href="{{ url('crypto:index') }}">Crypto</a>
            </li>
            {% endif %}
             
            <li class="navigation--item">
                <a class="navigation--link {% if activePage=='alternative' %}navigation--link--is-active{% endif %}" href="{{ url('alternative:index') }}">Alternative</a>
            </li>

            <div class="vs-2"></div>
            <li class="navigation--item">
                <p class="navigation--heading">User</p>
            </li>
            <li class="navigation--item">
                <a class="navigation--link {% if activePage=='settings' %}navigation--link--is-active{% endif %}" href="{{ url('users:settings') }}">Settings</a>
            </li>
            <div class="vs-2"></div>
            <li class="navigation--item">
                <p class="navigation--heading">Finance</p>
            </li>
            <li class="navigation--item">
                <a class="navigation--link" href="{{ url('users:logout') }}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>