{% if tab=="dividends" %}
    <table class="table table-dark table-responsive-md rounded mb-5">
        <thead>
        <tr>
            <th class="border-0" scope="col">Date</th>
            <th class="border-0" scope="col">Bank</th>
            <th class="border-0" scope="col">Stock</th>
            <th class="border-0 text-right" scope="col">Dividend</th>
            <th class="border-0 text-right" scope="col">
                {{ bg.modalButton("Add Dividend", "#addDividend") }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dividend in dividends %}
            <tr>
                <td>{{ localtime(dividend.date).strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ dividend.bank }}</td>
                <td>{{ dividend.stock }}</td>
                <td class="text-right">{{ dividend.dividend }}</td>
                <td class="d-flex justify-content-end">
                    {{ mg.djangoModal("Edit Dividend", "editDividend"+dividend.pk|string, url("stocks:edit_dividend", args=[dividend.pk])) }}
                    {{ bg.modalButton("Edit", "#editDividend"+dividend.pk|string) }}
                    {{ mg.djangoModal("Delete Dividend", "deleteDividend"+dividend.pk|string, url("stocks:delete_dividend", args=[dividend.pk])) }}
                    {{ bg.modalButton("Delete", "#deleteDividend"+dividend.pk|string) }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5">
                <div class="d-flex">
                    {% if object.ticker %} {# this tests if the object is of type stock or a bank #}
                        {%- set dividendUrl="?stock="+object.pk|string -%}
                    {% else %}
                        {%- set dividendUrl="?bank="+object.pk|string -%}
                    {% endif %}
                    {{ mg.djangoModal("Add Dividend", "addDividend", url("stocks:add_dividend")+dividendUrl) }}
                    {{ bg.modalButton("Add Dividend", "#addDividend") }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}