{% if tab=="flows" %}
    <table class="table table-dark table-responsive-md rounded">
        <thead>
        <tr>
            <th class="border-0" scope="col">Date</th>
            <th class="border-0" scope="col">Description</th>
            <th class="border-0" scope="col">Bank</th>
            <th class="border-0" scope="col">Flow</th>
            <th class="border-0" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for flow in flows %}
            <tr>
                <td>{{ localtime(flow.date).strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ flow.short_description }}</td>
                <td>{{ flow.bank }}</td>
                <td>{{ flow.flow }}</td>
                <td>
                    <div class="d-flex">
                        {{ mg.djangoModal("Edit Flow", "editFlow"+flow.pk|string, url("stocks:edit_flow", args=[flow.pk])) }}
                        {{ bg.modalButton("Edit", "#editFlow"+flow.pk|string) }}
                        {{ mg.djangoModal("Delete Flow", "deleteFlow"+flow.pk|string, url("stocks:delete_flow", args=[flow.pk])) }}
                        {{ bg.modalButton("Delete", "#deleteFlow"+flow.pk|string) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5">
                <div class="d-flex">
                    {{ mg.djangoModal("Add Flow", "addFlow", url("stocks:add_flow")+"?bank="+object.pk|string) }}
                    {{ bg.modalButton("Add Flow", "#addFlow") }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}