{% if tab=="trades" %}
    <table class="table table-dark table-responsive-md rounded mb-5">
        <thead>
        <tr>
            <th class="border-0" scope="col">Date</th>
            <th class="border-0" scope="col">Bank</th>
            <th class="border-0" scope="col">Type</th>
            <th class="border-0" scope="col">Stock</th>
            <th class="border-0" scope="col">Stock Amount</th>
            <th class="border-0" scope="col">Money Amount</th>
            <th class="border-0" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
            <tr>
                <td>{{ localtime(trade.date).strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ trade.bank }}</td>
                <td>{{ trade.get_buy_or_sell_display() }}</td>
                <td>{{ trade.stock }}</td>
                <td>{{ trade.stock_amount }}</td>
                <td>{{ trade.money_amount }}</td>
                <td>
                    <div class="d-flex">
                        {{ mg.djangoModal("Edit Trade", "editTrade"+trade.pk|string, url("stocks:edit_trade", args=[trade.pk])) }}
                        {{ bg.modalButton("Edit", "#editTrade"+trade.pk|string) }}
                        {{ mg.djangoModal("Delete Trade", "deleteTrade"+trade.pk|string, url("stocks:delete_trade", args=[trade.pk])) }}
                        {{ bg.modalButton("Delete", "#deleteTrade"+trade.pk|string) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="7">
                <div class="f-flex">
                    {{ mg.djangoModal("Add Trade", "addTrade", url("stocks:add_trade")) }}
                    {{ bg.modalButton("Add Trade", "#addTrade") }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}