{% if tab=="trades" %}
    <table class="table table-dark table-responsive-md rounded mb-5">
        <thead>
        <tr>
           <th scope="col">Date</th>
           <th scope="col">Bank</th>
           <th scope="col">Type</th>
           <th scope="col">Stock</th>
            <th class="text-end" scope="col">Stock Amount</th>
            <th class="text-end" scope="col">Money Amount</th>
            <th class="text-end" scope="col">Price</th>
            <th class="text-end" scope="col">
            {% if object.is_stock %} {# this tests if the object is of type stock or a bank #}
                {%- set tradeUrl="?stock="+object.pk|string -%}
            {% else %}
                {%- set tradeUrl="?bank="+object.pk|string -%}
            {% endif %}
            {{ bg.modalButton("Add Trade", "#addTrade", url("stocks:add_trade")+tradeUrl) }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
            <tr>
                <td>{{ localtime(trade.date).strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ trade.bank }}</td>
                <td>{{ trade.get_buy_or_sell_display() }}</td>
                <td>{{ trade.stock }}</td>
                <td class="text-end">{{ trade.stock_amount }}</td>
                <td class="text-end">{{ trade.money_amount }}</td>
                <td class="text-end">{{ trade.price_str }}</td>
                <td>
                    <div class="d-flex">
                        {{ mg.djangoModal("Edit Trade", "editTrade") }}
                        {{ bg.modalButton("Edit", "#editTrade", url("stocks:edit_trade", args=[trade.pk])) }}
                        {{ mg.djangoModal("Delete Trade", "deleteTrade") }}
                        {{ bg.modalButton("Delete", "#deleteTrade", url("stocks:delete_trade", args=[trade.pk])) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="8">
                <div class="f-flex">
                    {{ mg.djangoModal("Add Trade", "addTrade") }}
                    {{ bg.modalButton("Add Trade", "#addTrade", url("stocks:add_trade")+tradeUrl) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}