{% extends "static/hmf.njk" %}

{% set title = "test" %}
{% set activePage = "index" %}

{% block main %}
	
	<div class="gallery">
		{% for image in images %}
		<div class="gallery__item">
			<img src="{{image.src}}" alt="{{image.alt}}" style="max-width: 100%;">
		</div>
		{% endfor %}
	</div>

{% endblock %}
