{% macro modalButton(text, target, classes="") %}
	<a class="btn btn-sm btn-info {{ classes }}" type="button" data-toggle="modal" data-target="{{ target }}">{{ text }}</a>
{% endmacro %}

{% macro hrefButton(text, url, classes="") %}
	<a class="btn btn-sm btn-secondary {{ classes }}" type="button" href="{{ url }}">{{ text }}</a>
{% endmacro %}

{% macro submitButton(text, classes="") %}
  	<button type="submit" class="btn btn-sm btn-dark {{ classes }}" role="button">{{ text }}</button>
{% endmacro %}
