{% macro statsCard(heading, value, ext=None) %}
	<div class="card">
		<h2 class="card--heading">{{ heading }}</h2>
		<div class="card--body">
			{% if ext=="%" and value!="x" %}
				{{ value*100 }} {{ ext }}
			{% elif ext %}
			 	{{ value }} {{ ext }}
			{% else %}
				{{ value }}
			{% endif %}
		</div>
	</div>
{% endmacro %}