{% macro footer() %}
	<div class="footer">
		<div class="footer--background">
			<div class="vs-3"></div>
			<div class="footer--navigation">
				<div class="menu">
					<h3 class="menu--heading">Apps</h3>
					<div class="menu--items">
						<a class="menu--link" href="#apps">Banking</a>
						<a class="menu--link" href="#apps">Crypto</a>
						<a class="menu--link" href="#apps">Alternative</a>
					</div>
				</div>
				<div class="hs-20"></div>
				<div class="menu">
					<h3 class="menu--heading">Support</h3>
					<div class="menu--items">
						<a class="menu--link" href="#blog">Blog</a>
						<a class="menu--link" href="mailto:kontakt@tortuga-webdesign.de">Contact Us</a>
						<a class="menu--link" href="#blog">Bug Reports</a>
						<a class="menu--link" href="{{ url('users:signin') }}">Sign In</a>
						<a class="menu--link" href="{{ url('users:signup') }}">Sign Up</a>
					</div>
				</div>
				<div class="hs-20"></div>
				<div class="menu">
					<h3 class="menu--heading">Connect</h3>
					<div class="menu--row">
						<a class="menu--icon" href="#" target="_blank">
							<img class="menu--icon-image" src="{{ static('img/logo-github.png') }}">
						</a>
						<a class="menu--icon" href="#" target="_blank">
							<img class="menu--icon-image" src="{{ static('img/logo-facebook.png') }}">
						</a>
						<a class="menu--icon" href="#" target="_blank">
							<img class="menu--icon-image" src="{{ static('img/icon.png') }}">
						</a>
					</div>
				</div>
			</div>
			<div class="vs-3"></div>
		</div>
		<div class="footer--row">
			<div class="row-menu">
				<span class="row-menu--brand">MasterCash</span>
				{% for page in pages %}
					<a class="row-menu--link" href="{{ url('core:page', args=[page.slug]) }}">{{ page.name }}</a>
				{% endfor %}
				{# <a class="row-menu--link" href="{{ url('core:imprint') }}">Imprint</a>
				<a class="row-menu--link" href="{{ url('core:data_protection') }}">Data Protection</a>
				<a class="row-menu--link" href="{{ url('core:terms_of_use') }}">Terms Of Use</a> #}
			</div>
		</div>
	</div>
{% endmacro %}
