{% macro header() %}
    <div class="header">
        <nav class="h-navigation">
            <a class="h-navigation--brand" href="{{ url('core:index') }}">
                Tortuga Finance
            </a>
            <button class="h-navigation--toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="h-navigation--toggler--icon"></span>
            </button>
            <div class="h-navigation--collapse collapse" id="navbar">
                <ul class="h-navigation--nav">
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#about">About</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#features">Features</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#news">News</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#screenshots">Screenshots</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#blog">Blog</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#apps">Apps</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--link" href="#ready">Ready</a>
                    </li>
                    <li class="h-navigation--item">
                        <a class="h-navigation--button" href="{{ url('users:signin') }}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endmacro %}
