{% import "modules/button.njk" as buttons %}

{% macro left(activePage, request) %}
    <nav class="navigation">
        <a class="navigation--brand" href="#">
            <img src="{{ static('img/owl.png') }}" width="30" height="30" alt="Owl">
        </a>
        <button class="navigation--toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navigation--toggler--icon"></span>
        </button>
        <div class="navigation--collapse collapse" id="navbar">
            <ul class="navigation--nav">
                <li class="navigation--item">
                    <p class="navigation--heading">Dashboards</p>
                </li>
                <!-- <li class="navigation--item">
                    <a class="navigation--link {% if activePage=='index' %}navigation--link--is-active{% endif %}" href="index.html">Overview</a>
                </li> -->
                <li class="navigation--item">
                    {{ buttons.navigationButton("Banking", url("banking:index"), active=(activePage=="banking")) }}
                </li>
                <li class="navigation--item">
                    {{ buttons.navigationButton("Crypto", url('crypto:index'), active=(activePage=="crypto")) }}
                </li>
                <li class="navigation--item">
                    {{ buttons.navigationButton("Alternative", url('alternative:index', args=[request.user.get_active_alternative_depot_pk()]), active=(activePage=="alternative")) }}
                </li>
                <div class="vs-2"></div>
                <li class="navigation--item">
                    <p class="navigation--heading">User</p>
                </li>
                <li class="navigation--item">
                    {{ buttons.navigationButton("Settings", url('users:settings'), active=(activePage=="settings")) }}
                </li>
                <div class="vs-2"></div>
                <li class="navigation--item">
                    <p class="navigation--heading">Finance</p>
                </li>
                <li class="navigation--item">
                    <a class="navigation--link" href="{{ url('users:logout') }}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}
