.column{
	display: flex;
	flex-direction: row;
	&--right, &--left{
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	&--heading{
		margin: 0;
	}
	&--button{
		width: 100%; 
	}
	&--spacer{
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
}