{% import "modules/form_childs.njk" as childs %}
{% import "modules/modals.njk" as modals %}


<!-- Depot -->
{% macro addCryptoDepotModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name")}}
	{% endset %}
	{%- set url=url("users:add_crypto_depot", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addCryptoDepot", "Add Depot", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editCryptoDepotModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name")}}
		<input type="hidden" class="inputpk" name="pk">
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editCryptoDepot").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					$("#editCryptoDepot .inputpk").attr("value", data.pk)
					$("#editCryptoDepot .inputname").attr("value", data.name)
				});
	        });
	    </script> 
	{% endset %}
	{%- set url=url("users:edit_crypto_depot", args=[user.slug, ]) -%}
	{{ modals.modal(content, url, "editCryptoDepot", "Edit Depot", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deleteCryptoDepotModal(user, depots, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Select A Depot", "pk", depots) }}
	{% endset %}
	{%- set url=url("users:delete_crypto_depot", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "deleteCryptoDepot", "Delete Depot", csrf_token, "Delete", "Cancel") }}
{% endmacro %} 


<!-- Account -->
{% macro addAccountModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name")}}
	{% endset %}
	{%- set url=url("crypto:add_account", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addAccount", "Add Account", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editAccountModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name")}}
		<input type="hidden" class="inputpk" name="pk">
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editAccount").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					$("#editAccount .inputpk").attr("value", data.pk)
					$("#editAccount .inputname").attr("value", data.name)
				});
	        });
	    </script> 
	{% endset %}
	{%- set url=url("crypto:edit_account", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "editAccount", "Edit Account", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deleteAccountModal(user, accounts, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Select An Account", "pk", accounts) }}
	{% endset %}
	{%- set url=url("crypto:delete_account", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "deleteAccount", "Delete Account", csrf_token, "Delete", "Cancel") }}
{% endmacro %} 

<!-- Asset -->
{% macro addAssetModal(user, asset_symbol_choices, csrf_token) %}
	{% set content %}
		{{ childs.tupleSelect("Select An Asset", "symbol", asset_symbol_choices)}}
	{% endset %}
	{%- set url=url("crypto:add_asset", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addAsset", "Add Asset", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro addPrivateAssetModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "private_name")}}
		{{ childs.textInput("Symbol", "private_symbol", maxlength=5)}}
	{% endset %}
	{%- set url=url("crypto:add_private_asset", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addPrivateAsset", "Add Private Asset", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editPrivateAssetModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "private_name")}}
		{{ childs.textInput("Symbol", "private_symbol", maxlength=5)}}
		<input type="hidden" class="inputpk" name="pk" value="">
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editPrivateAsset").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					console.log(data)
					$("#editPrivateAsset .inputpk").attr("value", data.pk)
					$("#editPrivateAsset .inputprivate_name").attr("value", data.private_name)
					$("#editPrivateAsset .inputprivate_symbol").attr("value", data.private_symbol)
				});
	        });
	    </script> 
	{% endset %}
	{%- set url=url("crypto:edit_private_asset", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "editPrivateAsset", "Edit Private Asset", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deletePrivateAssetModal(user, assets, csrf_token) %}
	{% set content %}
		{{ childs.pkGetNameSelect("Select An Asset", "pk", assets) }}
	{% endset %}
	{%- set url=url("crypto:delete_private_asset", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "deletePrivateAsset", "Remove Private Asset", csrf_token, "Remove", "Cancel") }}
{% endmacro %}

{% macro removeAssetModal(user, assets, csrf_token) %}
	{% set content %}
		{{ childs.pkGetNameSelect("Select An Asset", "pk", assets) }}
	{% endset %}
	{%- set url=url("crypto:remove_asset", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "removeAsset", "Remove Asset", csrf_token, "Remove", "Cancel") }}
{% endmacro %}


<!-- Trade -->
{% macro addTradeModal(user, accounts, assets, csrf_token) %}
	{% set content %}	
		{{ childs.pkNameSelect("Account", "account", accounts) }}
		{{ childs.dateInput("date") }}
		{{ childs.numberInputPkSymbolSelect("Buy (Doesn't include fees.)", "buy_amount", "buy_asset", assets) }}
		{{ childs.numberInputPkSymbolSelect("Fees", "fees", "fees_asset", assets) }}
		{{ childs.numberInputPkSymbolSelect("Sell (Doesn't include fees.)", "sell_amount", "sell_asset", assets) }}
	{% endset %}
	{%- set url=url("crypto:add_trade", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addTrade", "Buy / Sell", csrf_token, "Save", "Cancel") }}
{% endmacro %} 

{% macro editTradeModal(user, account, accounts, assets, csrf_token) %}
	{% set content %}
		<input type="hidden" class="inputpk" name="pk" value="">
		{{ childs.pkNameSelect("Account", "account", accounts) }}
		{{ childs.dateInput("date") }}
		{{ childs.numberInputPkSymbolSelect("Buy (Doesn't include fees.)", "buy_amount", "buy_asset", assets) }}
		{{ childs.numberInputPkSymbolSelect("Fees", "fees", "fees_asset", assets) }}
		{{ childs.numberInputPkSymbolSelect("Sell (Doesn't include fees.)", "sell_amount", "sell_asset", assets) }}
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editTrade").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					data.date = data.date.substring(0, 16).replace(" ", "T")
					$("#editTrade .inputpk").attr("value", data.pk)
					$("#editTrade .selectaccount option").filter(function() { return $(this).text() == data.account; }).attr("selected", true);
					$("#editTrade .inputdate").attr("value", data.date)
					$("#editTrade .inputbuy_amount").attr("value", data.buy_amount)
					$("#editTrade .selectbuy_asset option").filter(function() { return $(this).text() == data.buy_asset; }).attr("selected", true);
					$("#editTrade .inputfees").attr("value", data.fees)
					$("#editTrade .selectfees_asset option").filter(function() { return $(this).text() == data.fees_asset; }).attr("selected", true);
					$("#editTrade .inputsell_amount").attr("value", data.sell_amount)
					$("#editTrade .selectsell_asset option").filter(function() { return $(this).text() == data.sell_asset; }).attr("selected", true);
				});
	        });
	    </script> 
	{% endset %}
	{%- set url=url("crypto:edit_trade", args=[user.slug,account.slug]) -%}
	{{ modals.modal(content, url, "editTrade", "Buy / Sell", csrf_token, "Update", "Cancel") }}
{% endmacro %}


<!-- Transaction -->
{% macro addTransactionModal(user, account, accounts, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Recipient", "to_account", accounts) }}
		{{ childs.dateInput("date") }}
		{{ childs.numberInput("Amount (Without Tx Fees)", "amount") }}
		{{ childs.numberInput("Tx Fees", "fees") }}
		<input type="hidden" class="inputaccount" name="from_account" value="{{ account.pk }}">
		<input type="hidden" class="inputasset" name="asset" value="">
		<script type="text/javascript">
	        jQuery(function(){
	        	$("#addTransaction").on("show.bs.modal", function(e) {
			    	var pk = e.relatedTarget.dataset.assetpk;
			    	$("#addTransaction .inputasset").attr("value", pk)
			    });
	        });
	    </script>
	{% endset %}
	{%- set url=url("crypto:add_transaction", args=[user.slug, account.slug, ]) -%}
	{{ modals.modal(content, url, "addTransaction", "Transaction", csrf_token, "Send", "Cancel") }}
{% endmacro %} 


<!-- Price -->
{% macro addPriceModal(user, asset, csrf_token) %}
	{% set content %}
		<input type="hidden" class="inputasset" name="asset" value="{{ asset.pk }}">
		{{ childs.dateInput("date") }}
		{{ childs.numberInput("Price", "price", min=0, step=0.01) }}
	{% endset %}
	{%- set url=url("crypto:add_price", args=[user.slug,asset.slug]) -%}
	{{ modals.modal(content, url, "addPrice", "Add Price", csrf_token, "Save", "Cancel") }}
{% endmacro %}