<!DOCTYPE html>
<html>
<head>
	<!-- Title & Icon -->
	<title>{{ title }}</title> 
	<link rel="icon" href="">
	<!-- Zur korrekten Darstellung von Umlauten -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Meta -->
	<meta name="description" content="{{ description }}">
	<!-- Google Font -->

	<!-- Stylesheet & Script -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/script.js"></script>
</head> 
<body>
	{% include "layout/header.njk" %}
	
	{% block main %}
	{% endblock %}

	{% include "layout/footer.njk" %}
</body>
</html>