{% extends "static/base.njk" %}


{% block body %}
    <body id="m">
        <main id="m-main"> 
            {% block main %}
            
            {% endblock %}
        </main>
    </body>
    </html>
{% endblock body %}