html{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.5;
}
body{
	background-color: $primary-color;
	color: $font-color;
}
.btn:hover {
    cursor: pointer;
}
.btn.active, .btn:active{
	box-shadow: none;
}
a{
	color: $font-color;
	-webkit-appearance: none!important;
}
a:hover{
	color: $font-color;
}
