td {
  .btn:not(:last-of-type) {
    @extend .mr-1;
  }
}

.btn-group {
  overflow: visible;
  overflow-x: scroll;
  @include media-breakpoint-up(md) {
    overflow-x: visible;
  }
}

.btn {
  white-space: nowrap;
}
