{% extends "layout/lm.j2" %}
{% set activePage = "alternative" %}
{% set headingCategory = "Dashboard" %}
{% set headingHeading = "Alternative" %}
{% set title = "Alternative" %}
{% block main %}
    {% import "symbols/button.j2" as bg %}
    {% import "symbols/modal.j2" as mg %}
    <div class="d-flex justify-content-center mt-2 mb-5">
        <div class="btn-group" role="group" aria-label="Console">
            {{ bg.hrefButton("Stats", request.path + '?tab=stats', active=(tab=='stats') ) }}
            {{ bg.hrefButton("Alternatives", request.path + '?tab=alternatives', active=(tab=='alternatives') ) }}
        </div>
    </div>
    {% if tab == 'stats' %}
        <div class="d-flex mb-2">
            <div class="ms-auto">
                {{ bg.postButton("Reset Stats", url("alternative:reset_depot", args=[depot.pk]) , csrf_token) }}
            </div>
        </div>
    {% endif %}
    {% include 'symbols/stats.j2' %}
    {% if tab == 'alternatives' %}
        {{ mg.djangoModal('Edit Alternative', 'editAlternative') }}
        <table class="table table-responsive-md rounded table-dark mb-5">
            <thead>
                <tr>
                    <th scope="col">Alternative</th>
                    <th class="text-end" scope="col">Invested Capital</th>
                    <th class="text-end" scope="col">Value</th>
                    <th class="text-end" scope="col">Profit</th>
                    <th class="text-end" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for alternative in alternatives %}
                    <tr>
                        <td>
                            {{ alternative.name }}
                            {% if alternative.bucket %}
                                <span class="badge bg-success">{{ alternative.bucket.name }}</span>
                            {% else %}
                                {{ bg.modalButton("Set Bucket", "#editAlternative", url("alternative:edit_alternative", args=[alternative.pk]) ) }}
                            {% endif %}
                        </td>
                        <td class="text-end">{{ alternative.get_invested_capital_display() }}</td>
                        <td class="text-end">{{ alternative.get_value_display() }}</td>
                        <td class="text-end">{{ alternative.get_profit_display() }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.hrefButton("Open", url('alternative:alternative', args=[alternative.pk]) ) }}
                                {{ bg.modalButton("Edit", "#editAlternative", url("alternative:edit_alternative", args=[alternative.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4">
                        <div class="d-flex">
                            {{ bg.modalButton('Add Alternative', '#addAlternative', url("alternative:add_alternative") ) }}
                            {{ bg.modalButton('Delete Alternative', '#deleteAlternative', url("alternative:delete_alternative") ) }}
                            {{ mg.djangoModal('Add Alternative', 'addAlternative') }}
                            {{ mg.djangoModal('Delete Alternative', 'deleteAlternative') 
                            }}
                        </div>
                    </td>
                    <td class="text-end">
                        <a class="btn btn-sm btn-link text-secondary"
                           href="{{ url("alternative:index") }}?tab=alternatives&show_archived=1">Include Archived</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
