{% extends "static/lm.njk" %}


{% set activePage="alternative" %}
{% set headingCategory="Dashboard" %}
{% set headingHeading="Alternative" %}
{% set title="Alternative" %}


{% block head %}
	{# <script type="text/javascript" src="{{ static('js/line_bar_chart.js') }}" api-data="{{ url('banking:api_data_alternative', args=[alternative.slug]) }}"></script> #}
{% endblock %}


{% block chart %}
	<div class="vs-3"></div>
	<canvas class="console--target console--is-hidden" id="line_chart"></canvas>
	<canvas class="console--target" id="stacked_bar_chart"></canvas>
	<div class="vs-3"></div>
	<hr class="hr"> 
{% endblock %}


{% block main %}

	
	{% import "modules/table.njk" as tg %}
	{% import "modules/button.njk" as bg %}
	{% import "modules/card.njk" as cg %}
	{% import "modules/timespan.njk" as tsg %}
	{% import "modules/modal.njk" as mg %}
	{% import "modules/console.njk" as cog %}


	{%- set addAlternativeButton=bg.modalButton("Add Alternative", "#addAlternative") -%}
	{%- set deleteAlternativeButton=bg.modalButton("Delete Alternative", "#deleteAlternative") -%}
	{%- set addTimespanButton=bg.modalButton("Add Timespan", "#addTimespan") -%}
	{%- set updateButton=bg.hrefButton("Update", url("alternative:update_movies")) -%}
	{%- set resetButton=bg.hrefButton("Reset", url("alternative:reset_movies")) -%}


	<div class="vs-1"></div>

	
	<div class="center-box">
		<div class="console" data-toggle="buttons">
			<button class="console--button {{ cog.isActive(console, 'console-main') }}" type="button" data-target="#stats, #stacked_bar_chart">Stats</button>
			<button class="console--button {{ cog.isActive(console, 'alternatives') }}" type="button" data-target="#alternatives, #line_chart">Alternatives</button>
			<button class="console--button {{ cog.isActive(console, 'timespans') }}" type="button" data-target="#timespans, #stacked_bar_chart">Time Spans</button>
		</div>
	</div>


	<div class="vs-3"></div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'console-main') }}" id="stats">
		{{ hg.smallLmHeading("Stats", buttons=[updateButton, resetButton]) }}
		<div class="vs-1"></div>
		<div class="items-box">
			{%- set depotData = movie.get_values(user, ["cs", "g", "v", "cr", "twr"]) -%}
            {{ cg.statsCard("Invested Capital", depotData.cs) }}
            {{ cg.statsCard("Profit", depotData.g) }}
            {{ cg.statsCard("Value", depotData.v) }}
            {{ cg.statsCard("Current Return", depotData.cr) }}
            {{ cg.statsCard("Time weighted return", depotData.twr)}}
		</div>
		{% if timespan.start_date %}
			<div class="vs-3"></div>
			{{ hg.smallLmHeading(timespan.name, buttons=[timespan.get_start_date() + " - " + timespan.get_end_date()]) }}
			<div class="vs-1"></div>
			<div class="items-box">
				{% with data=movie.get_values(user, ["cs", "g", "v", "cr", "twr"], timespan) %}
                    {{ cg.statsCard("Invested Capital", data.cs) }}
		            {{ cg.statsCard("Profit", data.g) }}
		            {{ cg.statsCard("Value", data.v) }}
		            {{ cg.statsCard("Current Return", data.cr) }}
		            {{ cg.statsCard("Time weighted return", data.twr)}}
                {% endwith %}
			</div>
		{% endif %}
	</div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'alternatives') }}" id="alternatives">
		{{ hg.smallLmHeading("Alternatives", buttons=[addAlternativeButton, deleteAlternativeButton]) }}
		<div class="scrollbar-box">
			<table class="table">
				{{ tg.head(["Alternative", "Value", "Profit", "Yield", "TWR", "Action"]) }}
				<tbody class="table--body">
					{% for alternative, movie in alternatives_movies %}
						{% set tablebuttons %}
							<div class="table--buttons">
								{{ bg.modalButton("Inflow / Outflow", "#addFlow"+alternative.slug) }}
								<div class="hs-1"></div>
								{{ bg.modalButton("Add Value", "#addValue"+alternative.slug) }}
								<div class="hs-1"></div>
								{{ bg.modalButton("Edit", "#editAlternative"+alternative.slug) }}  
							</div>
							{{ mg.djangoModal("Edit Alternative", "editAlternative"+alternative.slug, url("alternative:edit_alternative", args=[alternative.slug])) }}
							{{ mg.djangoModal("Inflow / Outflow", "addFlow"+alternative.slug, url("alternative:add_flow", args=[alternative.slug])) }}
							{{ mg.djangoModal("Add Value", "addValue"+alternative.slug, url("alternative:add_value", args=[alternative.slug])) }}
						{% endset %}
						{% set name %}
							<a href="{{ url('alternative:alternative', args=[alternative.slug]) }}" class="link-bold">{{ alternative.name }}</a> 
						{% endset %}
						{%- set values=movie.get_values(user, ["v", "g", "cr", "twr"]) -%}
						{{ tg.row([name|safe, values.v, values.g, values.cr, values.twr, tablebuttons|safe]) }}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'timespans') }}" id="timespans">
		{{ hg.smallLmHeading("Timespans", buttons=[addTimespanButton]) }}
		<div class="scrollbar-box">
			<table class="table">
				{{ tg.head(["Name", "Start Date", "End Date", "Action"]) }}
				<tbody class="table--body">
					{% for timespan in timespans %}
						{% set tablebuttons %}
							<div class="table--buttons">
								{{ tsg.setActiveAlternativeButton(timespan, csrf_token) }}
								<div class="hs-1"></div>
								{{ tsg.deleteButton(timespan, csrf_token) }}
							</div>
							{{ mg.djangoModal("Delete", "deleteTimespan"+timespan.pk|string, url("alternative:delete_timespan", args=[timespan.pk])) }}
						{% endset %} 
						{{ tg.row([timespan.name, timespan.get_start_date(), timespan.get_end_date(), tablebuttons|safe]) }}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}


{% block modals %}
	{% import "modules/modal.njk" as mg %}
	{{ mg.djangoModal("Add Alternative", "addAlternative", url("alternative:add_alternative")) }}
	{{ mg.djangoModal("Delete Alternative", "deleteAlternative", url("alternative:delete_alternative")) }}
	{{ mg.djangoModal("Add Timespan", "addTimespan", url("alternative:add_timespan")) }}	
{% endblock %}