{% extends "static/lm.njk" %}


{% set activePage="alternative" %}
{% set headingCategory="Alternative" %}
{% set headingHeading=alternative.name %}
{% set title="Alternative " + alternative.name + " | Alternative" %}


{% block head %}
	{# <script type="text/javascript" src="{{ static('js/line_bar_chart.js') }}" api-data="{{ url('alternative:api_data_alternative', args=[alternative.slug]) }}"></script> #}
{% endblock %}


{% block chart %}
	<div class="vs-3"></div>
   	<canvas class="chart--canvas" id="line_bar_chart"></canvas>
	<div class="vs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %} 


    {% import "modules/table.njk" as tg %}
    {% import "modules/button.njk" as bg %}
    {% import "modules/card.njk" as cg %}
    {% import "modules/modal.njk" as mg %}
    {% import "modules/console.njk" as cog %}
	   
       
    {%- set addFlowButton=bg.modalButton("Inflow / Outflow", "#addFlow") -%}
    {%- set addValueButton=bg.modalButton("Add Value", "#addValue") -%}


    <div class="vs-1"></div>


	<div class="center-box">
        <div class="console" data-toggle="buttons">
        	<button class="console--button {{ cog.isActive(console, 'console-main') }}" data-target="#stats">Stats</button>
            <button class="console--button {{ cog.isActive(console, 'flows') }}" data-target="#flows">Flows</button>
            <button class="console--button {{ cog.isActive(console, 'values') }}" data-target="#values">Values</button>
        </div>
    </div>


	<div class="vs-3"></div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'console-main') }}" id="stats">
        {{ hg.smallLmHeading("Stats") }}
        <div class="vs-1"></div>
        <div class="items-box">
            {{ cg.statsCard("Total", "", ext=user.currency) }}
        </div>
        {% if timespan.start_date %}
            <div class="vs-3"></div>
            {{ hg.smallLmHeading(timespan.name) }}
            <div class="vs-1"></div>
            <div class="items-box">
                {% with data=movie.get_values(user, ["b",], timespan) %}
                    {%- set heading=data.start_date+"-"+data.end_date -%}
                    {%- set value="" -%}
                    {{ cg.statsCard(heading, value) }}
                {% endwith %}
            </div>
        {% endif %}
    </div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'flows') }}" id="flows">
        {{ hg.smallLmHeading("Flows", buttons=[addFlowButton]) }}
		<div class="scrollbar-box">
            <table class="table">
                {{ tg.head(["Date", "Flow", "Action"]) }}
                <tbody class="table--body">
                    {% for flow in flows %}
                        {% set tablebuttons %}
                            <div class="table--buttons">
                                {{ bg.modalButton("Edit", "#editFlow"+flow.pk|string) }}
                                <div class="hs-1"></div>
                                {{ bg.modalButton("Delete", "#deleteFlow"+flow.pk|string) }}
                            </div>  
                            {{ mg.djangoModal("Edit Flow", "editFlow"+flow.pk|string, url("alternative:edit_flow", args=[alternative.slug, flow.pk])) }}
                            {{ mg.djangoModal("Delete Flow", "deleteFlow"+flow.pk|string, url("alternative:delete_flow", args=[alternative.slug, flow.pk])) }}
                        {% endset %} 
                        {{ tg.row([flow.get_date(), flow.flow, tablebuttons|safe]) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="center-box">
            {{ cog.paginatorConsole("flows", flows) }}
        </div>
	</div>


    <div class="wrapper console--target {{ cog.isHidden(console, 'values') }}" id="values">
        {{ hg.smallLmHeading("Values", buttons=[addValueButton]) }}
        <div class="scrollbar-box">
            <table class="table">
                {{ tg.head(["Date", "Value", "Action"]) }}
                <tbody class="table--body">
                    {% for value in values %}
                        {% set tablebuttons %}
                            <div class="table--buttons">
                                {{ bg.modalButton("Edit", "#editValue"+value.pk|string) }}
                                <div class="hs-1"></div>
                                {{ bg.modalButton("Delete", "#deleteValue"+value.pk|string) }}
                            </div>  
                            {{ mg.djangoModal("Edit Value", "editValue"+value.pk|string, url("alternative:edit_value", args=[alternative.slug, value.pk])) }}
                            {{ mg.djangoModal("Delete Value", "deleteValue"+value.pk|string, url("alternative:delete_value", args=[alternative.slug, value.pk])) }}
                        {% endset %} 
                        {{ tg.row([value.get_date(), value.value, tablebuttons|safe]) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="center-box">
            {{ cog.paginatorConsole("values", values) }}
        </div>
    </div>


{% endblock %}


{% block modals %}
    {% import "modules/modal.njk" as mg %}
    {{ mg.djangoModal("Inflow / Outflow", "addFlow", url("alternative:add_flow", args=[alternative.slug])) }}
    {{ mg.djangoModal("Add Value", "addValue", url("alternative:add_value", args=[alternative.slug])) }}
{% endblock %}
