{% extends "static/lm.njk" %}


{% set activePage="banking" %}
{% set headingCategory="Account" %}
{% set headingHeading=account.name %}
{% set title="Account " + account.name + " | Banking" %}


{% block head %}
	<script type="text/javascript" src="{{ static('js/line_bar_chart.js') }}" api-data="{{ url('banking:api_data_account', args=[account.slug]) }}"></script>
{% endblock %}


{% block chart %}
	<div class="vs-3"></div>
   	<canvas class="chart--canvas" id="line_bar_chart"></canvas>
	<div class="vs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %} 


    {% import "modules/table.njk" as tg %}
    {% import "modules/button.njk" as bg %}
    {% import "modules/card.njk" as cg %}
    {% import "modules/modal.njk" as mg %}
    {% import "modules/console.njk" as cog %}
	   
       
    {%- set addChangeButton=bg.modalButton("Deposit / Withdraw", "#addChange") -%}


    <div class="vs-1"></div>


	<div class="center-box">
        <div class="console" data-toggle="buttons">
        	<button class="console--button {{ cog.isActive(console, 'console-main') }}" data-target="#stats">Stats</button>
            <button class="console--button {{ cog.isActive(console, 'changes') }}" data-target="#changes">Changes</button>
        </div>
    </div>


	<div class="vs-3"></div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'console-main') }}" id="stats">
        {{ hg.smallLmHeading("Stats") }}
        <div class="vs-1"></div>
        <div class="items-box">
            {{ cg.statsCard("Total", movie.get_values(user, ["b"])["b"], ext=user.currency) }}
        </div>
        {% if timespan.start_date %}
            <div class="vs-3"></div>
            {{ hg.smallLmHeading(timespan.name, right=timespan.get_start_date() + " - " + timespan.get_end_date()) }}
            <div class="vs-1"></div>
            <div class="items-box">
                {{ cg.statsCard("Change", movie.get_values(user, ["b"], timespan)["b"]) }}
            </div>
        {% endif %}
    </div>


	<div class="wrapper console--target {{ cog.isHidden(console, 'changes') }}" id="changes">
        {{ hg.smallLmHeading("Changes", buttons=[addChangeButton]) }}
		<div class="scrollbar-box">
            <table class="table">
                {{ tg.head(["Date", "Category", "Description", "Change", "Balance", "Action"]) }}
                <tbody class="table--body">
                    {% for change in changes %}
                        {% set tablebuttons %}
                            <div class="table--buttons">
                                {{ bg.modalButton("Edit", "#editChange"+change.pk|string) }}
                                <div class="hs-1"></div>
                                {{ bg.modalButton("Delete", "#deleteChange"+change.pk|string) }}
                            </div>  
                            {{ mg.djangoModal("Edit Change", "editChange"+change.pk|string, url("banking:edit_change", args=[account.slug, change.pk])) }}
                            {{ mg.djangoModal("Delete Change", "deleteChange"+change.pk|string, url("banking:delete_change", args=[account.slug, change.pk])) }}
                        {% endset %} 
                        {{ tg.row([change.get_date(user), change.category, change.get_description(), change.change, change.get_balance(movie), tablebuttons|safe]) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="center-box">
            {{ cog.paginatorConsole("changes", changes) }}
        </div>
	</div>


{% endblock %}


{% block modals %}
    {% import "modules/modal.njk" as mg %}
    {{ mg.djangoModal("Deposit / Withdraw", "addChange", url("banking:add_change", args=[account.slug])) }}
{% endblock %}
