{% extends "static/lm.njk" %}


{% set activePage="banking" %}
{% set headingCategory="Category" %}
{% set headingHeading=category.name %}
{% set title="Category " + category.name + " | Banking" %}


{% block head %}
    <script type="text/javascript" src="{{ static('js/bar_chart.js') }}" api-data="{{ url('banking:api_data_category', args=[category.slug]) }}"></script>
{% endblock %}


{% block chart %}
    <div class="vs-3"></div>
    <canvas id="bar_chart"></canvas>
    <div class="vs-3"></div>
    <hr class="hr"> 
{% endblock %}
 

{% block main %}
    

    {% import "modules/table.njk" as table %}
    {% import "modules/card.njk" as cg %}
   

    <div class="vs-1"></div>
    
    
    <div class="center-box">
        <div class="console" data-toggle="buttons">
            <button class="console--button active" type="button" data-target=".console_stats">Stats</button>
            <button class="console--button" type="button" data-target=".console_changes">Changes</button>
        </div>
    </div>


    <div class="vs-3"></div>
    
    
    <div class="wrapper console-target console_stats">
        {{ hg.smallLmHeading("Stats") }}
        <div class="vs-1"></div>
        <div class="items-box">
            {{ cg.statsCard("Total", movie.get_values(user, ["b",])["b"], ext=user.currency) }}
        </div>
        {% if timespan.start_date %}
            <div class="vs-3"></div>
            {{ hg.smallLmHeading(timespan.name) }}
            <div class="vs-1"></div>
            <div class="items-box">
                {% with data=movie.get_values(user, ["b",], timespan) %}
                    {%- set heading=data.start_date+"-"+data.end_date -%}
                    {%- set value="Change: "+data.b|string -%}
                    {{ cg.statsCard(heading, value) }}
                {% endwith %}
            </div>
        {% endif %}
    </div>


    <div class="wrapper console-target is-hidden console_changes">
        {{ hg.smallLmHeading("Changes") }}
        <table class="table">
            {{ table.head(["Date", "Category", "Description", "Change"]) }}
            <tbody class="table--body">
                {% for change in changes %}
                    {{ table.row([change.get_date(user), category, change.get_description(), change.change]) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
    

{% endblock %}
