{% extends "static/lm.njk" %}


{% set activePage="banking" %}
{% set headingCategory="Dashboard" %}
{% set headingHeading="Banking" %}
{% set title="Banking" %}


{% block head %}
	<script src="{{ static('js/line_chart.js') }}" api-data="{{ url('banking:api_data_index', args=[user.slug,]) }}"></script>
	<script src="{{ static('js/pie_chart.js') }}" api-data="{{ url('banking:api_data_categories', args=[user.slug,]) }}"></script>
{% endblock %}


{% block chart %}
	<div class="vs-3"></div>
	<canvas class="console-target is-hidden console_accounts" id="line_chart"></canvas>
	<canvas class="console-target console_stats console_categories console_timespans" id="pie_chart"></canvas>
	<div class="vs-3"></div>
	<hr class="hr"> 
{% endblock %}


{% block main %}

	
	{% import "modules/table.njk" as table %}
	{% import "modules/buttons.njk" as buttons %}
	{% import "modules/button.njk" as button %}
	{% import "modules/cards.njk" as cards %}
	{% import "modules/timespan.njk" as timespan %}


	{%- set addAccountButton=button.modalButton("Add Account", "#addAccount") -%}
	{%- set deleteAccountButton=button.modalButton("Delete Account", "#deleteAccount") -%}
	{%- set addCategoryButton=button.modalButton("Add Category", "#addCategory") -%}
	{%- set deleteCategoryButton=button.modalButton("Delete Category", "#deleteCategory") -%}
	{%- set updateButton=button.hrefButton("Update", url("banking:update_stats", args=[user.slug])) -%}
	

	<div class="vs-1"></div>

	
	<div class="center-box">
		<div class="console" data-toggle="buttons">
			<label class="console--button active" data-target=".console_stats">
				<input type="radio">Stats
			</label>
			<label class="console--button" data-target=".console_accounts">
				<input type="radio">Accounts
			</label>
			<label class="console--button" data-target=".console_categories">
				<input type="radio">Categories
			</label>
			<label class="console--button" data-target=".console_timespans">
				<input type="radio">Time Spans
			</label>
		</div>
	</div>


	<div class="vs-3"></div>

	
	<div class="wrapper console-target console_stats">
		{{ heading.smallLmHeading("Stats", buttons=[updateButton]) }}
		<div class="vs-1"></div>
		<div class="items-box">
			{{ cards.statsCard("Total", movie.get_values(user, ["b",])["b"], ext=user.currency) }}
		</div>
		{% for ts in timespans %}
			{% if ts.start_date and ts.is_active %}
				<div class="vs-3"></div>
				{{ heading.smallLmHeading(ts.name) }}
				<div class="vs-1"></div>
				<div class="items-box">
					{% for data in movie.get_values(user, ["b",], ts) %}
						{% set heading %}
							{{ data.start_date }}-{{ data.end_date }}
						{% endset %}
						{% set value %}
							Change: {{ data.b }}
						{% endset %}
						{{ cards.statsCard(heading, value) }}
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</div>


	<div class="wrapper console-target is-hidden console_accounts">
		{{ heading.smallLmHeading("Accounts", buttons=[addAccountButton, deleteAccountButton]) }}
		<table class="table">
			{{ table.head(["Account", "Balance", "Action"]) }}
			<tbody class="table--body">
				{% for account, movie in accounts_movies %}
					{% set name %}
						<a href="{{ url('banking:account', args=[user.slug, account.slug,]) }}" class="link-bold">{{ account.name }}</a>
					{% endset %}
					{% set tablebuttons %}
						<div class="d-flex flex-row">
							{{ buttons.buttonModal(text="Deposit / Withdraw", dataTarget="#addChange", data="accountpk=" + account.pk|string ) }}
							<div class="hs-1"></div>
							{% set data %}
								{% raw %} { {% endraw %}
									'pk': '{{ account.pk }}', 
									'name': '{{ account.name }}'
								{% raw %} } {% endraw %}
							{% endset %}
							{{ buttons.buttonModalNew(text="Edit", dataTarget="#editAccount", data=data) }}  
						</div> 
					{% endset %}
					{% set balance %}
						{{ movie.get_values(user, ["b",])["b"] }} {{ user.currency }}
					{% endset %}
					{{ table.row([name | safe, balance, tablebuttons | safe]) }}
				{% endfor %}
			</tbody>
		</table>
	</div>

 
	<div class="wrapper console-target is-hidden console_categories">
		{{ heading.smallLmHeading("Categories", buttons=[addCategoryButton, deleteCategoryButton]) }}
		<table class="table">
			{{ table.head(["Category", "Description", "Action"]) }}
			<tbody class="table--body">
				{% for category in categories %}
					{% set name %}
						<a href="{{ url('banking:category', args=[user.slug, category.slug, ]) }}" class="link-bold">{{ category.name }}</a>
					{% endset %} 
					{% set tablebuttons %}
						<div class="d-flex flex-row">
							{% set data %}
								{% raw %} { {% endraw %}
									'pk': '{{ category.pk }}', 
									'name': '{{ category.name }}',
									'description': '{{ category.description }}'
								{% raw %} } {% endraw %}
							{% endset %}
							{{ buttons.buttonModalNew(text="Edit", dataTarget="#editCategory", data=data) }}
						</div>  
					{% endset %} 
					{{ table.row([name | safe, category.description, tablebuttons | safe]) }}
				{% endfor %}
			</tbody>
		</table>
	</div>
	

	<div class="wrapper console-target is-hidden console_timespans">
		{{ heading.smallLmHeading("Timespans") }}
		<div class="vs-1"></div>
		<ul class="timespans">
			{% for ts in timespans %} 
				{{ timespan.timespan(ts, depot, url('banking:set_timespan', args=[user.slug,]), url('banking:delete_timespan', args=[user.slug,]), reverse, csrf_token)}}
			{% endfor %}
			{{ timespan.createTimespan(False, url('banking:add_timespan', args=[user.slug,]), reverse, csrf_token) }}
		</ul>
	</div>


{% endblock %}


{% block modals %}
	{% import "modules/banking/modals.njk" as modals %}
	{{ modals.addAccountModal(user, depot.pk, csrf_token) }}
	{{ modals.editAccountModal(user, csrf_token) }}
	{{ modals.deleteAccountModal(user, accounts, csrf_token) }}
	{{ modals.addChangeModal(user, url("banking:add_change", args=[user.slug,]), categories, csrf_token) }}
	{{ modals.addCategoryModal(user, csrf_token) }}
	{{ modals.editCategoryModal(user, csrf_token) }}
	{{ modals.deleteCategoryModal(user, categories, csrf_token) }}
{% endblock %}
