{% extends "layout/hmf.njk" %}


{% set title="Control Your Money" %}


{% block main %} 


<div class="d-flex flex-column w-100 align-items-center justify-content-center" style="height: 80vh;">
	<h1 class="text-center">Welcome to Mastergoal</h1><br>
	<div class="d-flex">
		<a href="{{ url('users:signin') }}">Login</a>
		<a class="ml-2" href="{{ url('users:signup') }}">Sign Up</a>
	</div>
</div>


{% endblock %}
