{% extends "static/lm.njk" %}


{% set activePage="crypto" %}
{% set headingCategory="Account" %}
{% set headingHeading=account.name %}
{% set title="Account " + account.name + " | Crypto" %}


{% block head %}
	<script type="text/javascript" src="{{ static('js/pie_chart.js') }}" api-data="{{ url('crypto:api_data_account', args=[user.slug, account.slug, ]) }}"></script>
{% endblock %}


{% block chart %}
	<div class="vs-3"></div>
    <canvas id="pie_chart"></canvas>
    <div class="vs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %}


    {% import "modules/table.njk" as table %}
    {% import "modules/buttons.njk" as buttons %}
    {% import "modules/cards.njk" as cards %}
    {% import "modules/button.njk" as button %}
   	

   	{%- set addTradeButton=button.modalButton("Buy/Sell Asset", "#addTrade") -%}
	

	<div class="vs-1"></div>


	<div class="center-box">
            <div class="console" data-toggle="buttons">
            	<label class="console--button active" data-target=".console_stats">
                    <input type="radio">Stats
                </label>
                <label class="console--button" data-target=".console_assets">
                    <input type="radio">Assets
                </label>
                <label class="console--button" data-target=".console_trades">
                    <input type="radio">Trades
                </label>
                <label class="console--button" data-target=".console_transactions">
                    <input type="radio">Transactions
                </label>
            </div>
    </div>


	<div class="vs-3"></div>

	
	<div class="wrapper console-target console_stats">
        {{ hg.smallLmHeading("Stats") }}
        <div class="vs-1"></div>
        <div class="items-box">
        	{%- set accountData = movie.get_values(user, ["v", ]) -%}
            {{ cards.statsCard("Value", accountData.v, ext=user.currency) }}
        </div>
		{% if timespan.start_date %}
			<div class="vs-3"></div>
			{{ hg.smallLmHeading(timespan.name) }}
			<div class="vs-1"></div>
			<div class="items-box">
				{% with data=movie.get_values(user, ["v"], timespan) %}
					{%- set heading=data.start_date+"-"+data.end_date -%}
					{%- set value="Value Change: "+data.v|string -%}
					{{ cards.statsCard(heading, value) }}
				{% endwith %}
			</div>
		{% endif %}
	</div>
	
	
	<div class="wrapper console-target is-hidden console_assets">
        {{ hg.smallLmHeading("Assets", buttons=[addTradeButton]) }}
		<table class="table ">
		    {{ table.head(["Asset", "Current Price", "Amount", "Value", "Action"]) }}
		    <tbody class="table--body">
		        {% for asset, movie in assets_movies %}
		            {% set tablebuttons %}
		                <div class="d-flex flex-row">
		                	{{ buttons.buttonModal(text="Send", dataTarget="#addTransaction", data="assetpk=" + asset.pk|string) }}
		                </div> 
		            {% endset %}
		            {%- set assetData = movie.get_values(user, ["p", "ca", "v"]) -%}
                    {{ table.row([ asset.get_name(), assetData.p, assetData.ca, assetData.v, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>
	
	
	<div class="wrapper console-target is-hidden console_trades">
        {{ hg.smallLmHeading("Trades") }}
		<table class="table ">
		    {{ table.head(["Date", "Account", "Buy", "Buy Asset", "Sell", "Sell Asset", "Fees", "Fees Asset", "Action"]) }}
		    <tbody class="table--body">
		        {% for trade in trades %}
		            {% set tablebuttons %}
		                <div class="d-flex flex-row">
		                	{% set data %}
		                        {% raw %} { {% endraw %}
		                            'pk': '{{ trade.pk }}', 
		                            'date': '{{ trade.date }}',
		                            'account': '{{ trade.account }}',
		                            'buy_amount': '{{ trade.buy_amount }}',
		                            'buy_asset': '{{ trade.buy_asset }}',
		                            'sell_amount': '{{ trade.sell_amount }}',
		                            'sell_asset': '{{ trade.sell_asset }}',
		                            'fees': '{{ trade.fees }}',
		                            'fees_asset': '{{ trade.fees_asset }}'
		                        {% raw %} } {% endraw %}
		                    {% endset %}
		                    {{ buttons.buttonModalNew(text="Edit", dataTarget="#editTrade", data=data) }}
		                    <div class="hs-1"></div>
		                	<form method="POST" action="{{ url('crypto:delete_trade', args=[user.slug, account.slug]) }}">
							   	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							   	<input type="hidden" name="trade" value="{{ trade.pk }}">
							   	<input type="submit" class='btn btn-sm btn-danger' value="Delete">
							</form>
		                </div> 
		            {% endset %}
		            {{ table.row([trade.date, trade.account, trade.buy_amount, trade.buy_asset, trade.sell_amount, trade.sell_asset, trade.fees, trade.fees_asset, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>


	<div class="wrapper console-target is-hidden console_transactions">
        {{ hg.smallLmHeading("Transactions") }}
		<table class="table ">
		    {{ table.head(["Date", "Asset", "From Account", "To Account", "Amount", "Fees", "Action"]) }}
		    <tbody class="table--body">
		        {% for transaction in transactions %}
		            {% set tablebuttons %}
		                <div class="d-flex flex-row">
		                	{% set data %}
		                        {% raw %} { {% endraw %}
		                            'pk': '{{ transaction.pk }}', 
		                            'date': '{{ transaction.date }}',
		                            'from_account': '{{ transaction.from_account }}',
		                            'to_account': '{{ transaction.to_account }}',
		                            'amount': '{{ transaction.amount }}',
		                            'fees': '{{ transaction.fees }}'
		                        {% raw %} } {% endraw %}
		                    {% endset %}
		                    {{ buttons.buttonModalNew(text="Edit", dataTarget="#editTrade", data=data) }}
		                    <div class="hs-1"></div>
		                	<form method="POST" action="{{ url('crypto:delete_transaction', args=[user.slug, account.slug]) }}">
							   	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							   	<input type="hidden" name="pk" value="{{ transaction.pk }}">
							   	<input type="submit" class='btn btn-sm btn-danger' value="Delete">
							</form>
		                </div>
		            {% endset %}
		            {{ table.row([transaction.date, transaction.asset, transaction.from_account, transaction.to_account, transaction.amount, transaction.fees, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>
	

{% endblock %}


{% block modals %}
	{% import "modules/crypto/modals.njk" as modals %}
	{{ modals.addTransactionModal(user, account, accounts, csrf_token) }}
	{{ modals.addTradeModal(user, accounts, assets, csrf_token) }}
	{{ modals.editTradeModal(user, account, accounts, assets, csrf_token) }}
{% endblock %}
