{% extends "static/lm.njk" %}


{% set activePage="crypto" %}
{% set headingCategory="Account" %}
{% set headingHeading=account.name %}
{% set title="Account " + account.name + " | Crypto" %}


{% block head %}
	<script type="text/javascript" src="{{ static('js/pie_chart.js') }}" api-data="{{ url('crypto:api_data_account', args=[account.slug]) }}"></script>
{% endblock %}


{% block chart %}
	<div class="vs-3"></div>
    <canvas id="pie_chart"></canvas>
    <div class="vs-3"></div>
    <hr class="hr"> 
{% endblock %}


{% block main %}


    {% import "modules/table.njk" as tg %}
    {% import "modules/card.njk" as cg %}
    {% import "modules/button.njk" as bg %}
    {% import "modules/modal.njk" as mg %}
   	

   	{%- set addTradeButton=bg.modalButton("Buy/Sell Asset", "#addTrade") -%}
   	{%- set addTransactionButton=bg.modalButton("Send/Receive Asset", "#addTransaction") -%}
	

	<div class="vs-1"></div>


	<div class="center-box">
        <div class="console" data-toggle="buttons">
        	<button class="console--button active" type="button" data-target=".console_stats">Stats</button>
        	<button class="console--button" type="button" data-target=".console_assets">Assets</button>
        	<button class="console--button" type="button" data-target=".console_trades">Trades</button>
        	<button class="console--button" type="button" data-target=".console_transactions">Transactions</button>
        </div>
    </div>


	<div class="vs-3"></div>

	
	<div class="wrapper console-target console_stats">
        {{ hg.smallLmHeading("Stats") }}
        <div class="vs-1"></div>
        <div class="items-box">
        	{%- set accountData = movie.get_values(user, ["v", ]) -%}
            {{ cg.statsCard("Value", accountData.v, ext=user.currency) }}
        </div>
		{% if timespan.start_date %}
			<div class="vs-3"></div>
			{{ hg.smallLmHeading(timespan.name) }}
			<div class="vs-1"></div>
			<div class="items-box">
				{% with data=movie.get_values(user, ["v"], timespan) %}
					{%- set heading=data.start_date+"-"+data.end_date -%}
					{%- set value="Value Change: "+data.v|string -%}
					{{ cg.statsCard(heading, value) }}
				{% endwith %}
			</div>
		{% endif %}
	</div>
	
	
	<div class="wrapper console-target is-hidden console_assets">
        {{ hg.smallLmHeading("Assets", buttons=[addTradeButton, addTransactionButton]) }}
		<table class="table ">
		    {{ tg.head(["Asset", "Current Price", "Amount", "Value"]) }}
		    <tbody class="table--body">
		        {% for asset, movie in assets_movies %}
		            {%- set assetData = movie.get_values(user, ["p", "ca", "v"]) -%}
                    {{ tg.row([asset.get_name(), assetData.p, assetData.ca, assetData.v]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>
	
	
	<div class="wrapper console-target is-hidden console_trades">
        {{ hg.smallLmHeading("Trades", buttons=[addTradeButton]) }}
		<table class="table ">
		    {{ tg.head(["Date", "Account", "Buy", "Buy Asset", "Sell", "Sell Asset", "Fees", "Fees Asset", "Action"]) }}
		    <tbody class="table--body">
		        {% for trade in trades %}
		            {% set tablebuttons %}
		                <div class="table--buttons">
		                    {{ bg.modalButton("Edit", "#editTrade"+trade.pk|string) }}
		                    <div class="hs-1"></div>
		                	{{ bg.modalButton("Delete", "#deleteTrade"+trade.pk|string) }}
		                </div> 
		                {{ mg.djangoModal("Edit Trade", "editTrade"+trade.pk|string, url("crypto:edit_trade", args=[trade.pk])) }}
		                {{ mg.djangoModal("Delete Trade", "deleteTrade"+trade.pk|string, url("crypto:delete_trade", args=[trade.pk])) }}
		            {% endset %}
		            {{ tg.row([trade.get_date(), trade.account, trade.buy_amount, trade.buy_asset, trade.sell_amount, trade.sell_asset, trade.fees, trade.fees_asset, tablebuttons|safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>


	<div class="wrapper console-target is-hidden console_transactions">
        {{ hg.smallLmHeading("Transactions", buttons=[addTransactionButton]) }}
		<table class="table ">
		    {{ tg.head(["Date", "Asset", "From Account", "To Account", "Amount", "Fees", "Action"]) }}
		    <tbody class="table--body">
		        {% for transaction in transactions %}
		            {% set tablebuttons %}
		                <div class="table--buttons">
		             		{{ bg.modalButton("Edit", "#editTransaction"+transaction.pk|string) }}
		                    <div class="hs-1"></div>
		                	{{ bg.modalButton("Delete", "#deleteTransaction"+transaction.pk|string) }}
		                </div>
		                {{ mg.djangoModal("Edit Transaction", "editTransaction"+transaction.pk|string, url("crypto:edit_transaction", args=[transaction.pk])) }}
		                {{ mg.djangoModal("Delete Transaction", "deleteTransaction"+transaction.pk|string, url("crypto:delete_transaction", args=[transaction.pk])) }}
		            {% endset %}
		            {{ tg.row([transaction.get_date(), transaction.asset, transaction.from_account, transaction.to_account, transaction.amount, transaction.fees, tablebuttons | safe]) }}
		        {% endfor %}
		    </tbody>
		</table>
	</div>
	

{% endblock %}


{% block modals %}
	{% import "modules/modal.njk" as mg %}
    {{ mg.djangoModal("Add Trade", "addTrade", url("crypto:add_trade", args=[account.slug])) }}
    {{ mg.djangoModal("Add Transaction", "addTransaction", url("crypto:add_transaction")) }}
{% endblock %}
