{% extends "static/lm.njk" %}


{% set activePage="performance" %}


{% block main %}


<div class="d-flex flex-row mb-2">
	<p class="text-left m-0">
		<a class="text-white" href="">Time Span</a> | <a class="text-white" href="">5 Years</a> | <a class="text-white" href="">3 Months</a> | <a class="text-white" href="">1 Year</a>
	</p>
	<button type="button" id="h" data-toggle="modal" data-target="#hModal" class="btn btn-sm btn-primary ml-auto mr-1">Help</button>
	<button type="button" class="btn btn-primary btn-sm ml-1">Settings</button>                    
</div>
<div class="flex-column">
	<canvas id="performanceChart1"></canvas>
</div>
<hr class="mt-5 mb-5">

<h2 class="mb-3">Portfolio</h2>
<div class="d-flex flex-row mb-2">
	<p class="text-left m-0">
		<a class="text-white" href="">Time Span</a> | <a class="text-white" href="">5 Years</a> | <a class="text-white" href="">3 Months</a> | <a class="text-white" href="">1 Year</a>
	</p>
	<button type="button" class="btn btn-primary btn-sm ml-auto" id="bb" data-toggle="modal" data-target="#ppModal">Take A Part Of The Portfolio As Benchmark</button>
</div>
<div class="d-flex flex-row portfolio align-items-stretch">
	<div class="d-flex flex-column card card-success mr-1 w-25">
		<div class="card-header">
			<h4>Actual Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">+23.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">+20.97%</p>
		</div>
	</div>
	<div class="d-flex flex-column card card-success mr-1 ml-1 w-25">
		<div class="card-header">
			<h4>Best Potential Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">+33.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">+31.97%</p>
		</div>
	</div>
	<div class="d-flex flex-column card card-warning ml-1 mr-1 w-25">
		<div class="card-header">
			<h4>Worst Potential Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">-33.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">-35.97%</p>
		</div>
	</div>
	<div class="d-flex flex-column card card-info ml-1 w-25">
		<div class="card-header">
			<h4>Bigfoot Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">+43.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">+40.97%</p>
		</div>
	</div>
</div>
<hr class="mt-5 mb-5">

<h2 class="mb-3">Benchmarks</h2>
<div class="d-flex flex-row mb-2">
	<p class="text-left m-0">
		<a class="text-white" href="">Time Span</a> | <a class="text-white" href="">5 Years</a> | <a class="text-white" href="">3 Months</a> | <a class="text-white" href="">1 Year</a>
	</p>
	<button type="button" id="cab" data-toggle="modal" data-target="#cabModal" class="ml-auto mr-1 btn btn-sm btn-primary">Create Advanced Benchmark</button>
	<button type="button" class="btn btn-primary btn-sm ml-1" data-toggle="modal" data-target="#arbModal">Add A Benchmark</button>
</div>
<div class="d-flex flex-row align-items-stretch benchmarks mb-2">
	<div class="d-flex flex-column card card-success w-25 mr-1">
		<div class="card-header">
			<h4 class="card-title m-0">DAX ETF</h4>
			<div class="d-flex flex-row">
				<h4 class="m-0">12034.55</h4>
				<button type="button" class="btn btn-primary hidden btn-sm ml-auto">Inspect</button>
			</div>
		</div>
		<div class="card-block pt-1 pr-2 pl-2 pb-2 d-flex flex-column">
			<p class="text-center mt-2 mb-2">+91.81%</p>
			<h4 class="text-center mb-1">Adjusted</h4>
			<p class="text-center m-0 font-weight-bold">+90.81%</p>
		</div>
		<div class="card-footer p-2 d-flex flex-row">
			<div class="d-flex flex-row ml-auto mr-auto">
				<button type="button" class="btn btn-primary btn-sm mr-1 hidden">Change</button>
				<button type="button" class="btn btn-danger btn-sm ml-1">Remove</button>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column card card-warning w-25 ml-1 mr-1">
		<div class="card-header">
			<h4 class="card-title m-0">Gl. ROBO ETF</h4>
			<div class="d-flex flex-row">
				<h4 class="m-0">7562.55</h4>
				<button type="button" class="btn btn-primary hidden btn-sm ml-auto">Inspect</button>
			</div>
		</div>
		<div class="card-block pt-1 pr-2 pl-2 pb-2 d-flex flex-column">
			<p class="text-center mt-2 mb-2">+200.81%</p>
			<h4 class="text-center mb-1">Adjusted</h4>
			<p class="text-center m-0 font-weight-bold">+200.01%</p>
		</div>
		<div class="card-footer p-2 d-flex flex-row">
			<div class="d-flex flex-row ml-auto mr-auto">
				<button type="button" class="btn btn-primary btn-sm mr-1 hidden">Change</button>
				<button type="button" class="btn btn-danger btn-sm ml-1">Remove</button>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column w-25 card card-info ml-1 mr-1">
		<div class="card-header">
			<h4 class="card-title m-0">My Benchmark</h4>
			<div class="d-flex flex-row">
				<h4 class="m-0">5695.55</h4>
				<button type="button" class="btn btn-primary btn-sm ml-auto">Inspect</button>
			</div>
		</div>
		<div class="card-block pt-1 pr-2 pl-2 pb-2 d-flex flex-column">
			<p class="text-center mt-2 mb-2">+150.80%</p>
			<h4 class="text-center mb-1">Adjusted</h4>
			<p class="text-center m-0 font-weight-bold">+140.01%</p>
		</div>
		<div class="card-footer p-2 d-flex flex-row">
			<div class="d-flex flex-row ml-auto mr-auto">
				<button type="button" class="btn btn-primary btn-sm mr-1">Change</button>
				<button type="button" class="btn btn-danger btn-sm ml-1">Remove</button>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column card card-success w-25 ml-1">
		<div class="card-header">
			<h4 class="card-title m-0">S&P500 ETF</h4>
			<div class="d-flex flex-row">
				<h4 class="m-0">21234.55</h4>
				<button type="button" class="btn btn-primary hidden btn-sm ml-auto">Inspect</button>
			</div>
		</div>
		<div class="card-block pt-1 pr-2 pl-2 pb-2 d-flex flex-column">
			<p class="text-center mt-2 mb-2">+70.81%</p>
			<h4 class="text-center mb-1">Adjusted</h4>
			<p class="text-center m-0 font-weight-bold">+67.81%</p>
		</div>
		<div class="p-2 d-flex flex-row  card-footer">
			<div class="d-flex flex-row ml-auto mr-auto">
				<button type="button" class="btn btn-primary btn-sm mr-1 hidden">Change</button>
				<button type="button" class="btn btn-danger btn-sm ml-1">Remove</button>
			</div>
		</div>
	</div>
</div>
<div class="d-flex flex-row align-items-stretch benchmarks">
	<div class="d-flex flex-column card card-success w-25 mr-1">
		<div class="card-header">
			<h4 class="card-title m-0">Portfolio Part</h4>
			<div class="d-flex flex-row">
				<h4 class="m-0">9587.86</h4>
				<button type="button" class="btn btn-primary btn-sm ml-auto">Inspect</button>
			</div>
		</div>
		<div class="card-block pt-1 pr-2 pl-2 pb-2 d-flex flex-column">
			<p class="text-center mt-2 mb-2">+100.81%</p>
			<h4 class="text-center mb-1">Adjusted</h4>
			<p class="text-center m-0 font-weight-bold">+100.71%</p>
		</div>
		<div class="card-footer p-2 d-flex flex-row">
			<div class="d-flex flex-row ml-auto mr-auto">
				<button type="button" class="btn btn-primary btn-sm mr-1">Change</button>
				<button type="button" class="btn btn-danger btn-sm ml-1">Remove</button>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column card card-warning w-25 ml-1 mr-1"></div>
	<div class="d-flex flex-column w-25 card card-info ml-1 mr-1"></div>
	<div class="d-flex flex-column card card-success w-25 ml-1"></div>
</div>
<hr class="mt-5 mb-5">

<h2 class="mb-3">My Benchmark</h2>
<div class="d-flex flex-row mb-2">
	<p class="text-left m-0">
		<a class="text-white" href="">Time Span</a> | <a class="text-white" href="">5 Years</a> | <a class="text-white" href="">3 Months</a> | <a class="text-white" href="">1 Year</a>
	</p>
	<button type="button" class="btn btn-danger benchmarks btn-sm ml-auto">Remove From Inspection</button>
</div>
<div class="d-flex flex-row portfolio align-items-stretch">
	<div class="d-flex flex-column card card-success mr-1 w-25">
		<div class="card-header">
			<h4>Actual Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">+150.80%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">+140.01%</p>
		</div>
	</div>
	<div class="d-flex flex-column card card-success mr-1 ml-1 w-25">
		<div class="card-header">
			<h4>Best Potential Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">+155.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">+150.84%</p>
		</div>
	</div>
	<div class="d-flex flex-column card card-warning ml-1 mr-1 w-25">
		<div class="card-header">
			<h4>Worst Potential Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">-155.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">-161.10%</p>
		</div>
	</div>
	<div class="d-flex flex-column card card-info ml-1 w-25">
		<div class="card-header">
			<h4>Bigfoot Performance</h4>
		</div>
		<div class="card-block">
			<p class="card-text text-center">+156.97%</p>
		</div>
		<div class="card-footer">
			<h4 class="text-center card-title">Adjusted</h4>
			<p class="card-text text-center font-weight-bold">+151.89%</p>
		</div>
	</div>
</div>
<hr class="mt-5 mb-5">

<h2 class="mb-3">Time Spans</h2>
<div class="d-flex flex-row-reverse mb-2 hidden"></div>
<ul class="list-group timespans">
	<li class="list-group-item">
		<input type="text" class="text-center form-control mr-auto w-15">
		<input type="text" class="form-control text-center mr-auto ml-auto w-30 datepick" data-language='en' id="from-input" value="00/00/0000">
		<input type="text" class="form-control text-center mr-auto ml-auto w-30 datepick" data-language='en' id="to-input" value="00/00/0000">
		<button type="button" class="btn btn-primary ml-auto w-20">Add</button>
	</li>
	<li class="list-group-item">
		<label for="from-input" class="text-center mr-auto w-15">Time Span</label>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<button type="button" class="btn btn-danger ml-auto w-20">Remove</button>
	</li>
	<li class="list-group-item">
		<label for="from-input" class="text-center mr-auto w-15">5 Years</label>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<button type="button" class="btn btn-danger ml-auto w-20">Remove</button>
	</li>
	<li class="list-group-item">
		<label for="from-input" class="text-center mr-auto w-15">3 Months</label>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<button type="button" class="btn btn-danger ml-auto w-20">Remove</button>
	</li>
	<li class="list-group-item">
		<label for="from-input" class="text-center mr-auto w-15">1 Year</label>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<span class="form-control text-center mr-auto ml-auto w-30">4/17/2017</span>
		<button type="button" class="btn btn-danger ml-auto w-20">Remove</button>
	</li>
</ul>
<hr class="mt-5 mb-5">

<!-- Modals -->
<div class="modal fade" id="tsModal" tabindex="-1" role="dialog" aria-labelledby="tsModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add A Time Span</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Set a name for this time span and set the beginning and the end point.</p>
				<div class="input-group mb-1">                        
					<span class="input-group-addon">
						<span>Name</span>
					</span>
					<input type="text" class="form-control label label-default">              
				</div>
				<div class="input-group mb-1">
					<input value="01/01/2015" class="form-control text-center datepicker mr-auto ml-auto" id="from-input" type="text">
				</div>
				<div class="input-group mb-1">
					<input value="04/17/2017" class="form-control text-center datepicker mr-auto ml-auto w-30" id="to-input" type="text">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Apply</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="arbModal" tabindex="-1" role="dialog" aria-labelledby="arbModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add A Benchmark</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Put a cross on the object you want to have implemented as a benchmark.</p>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="radio" name="benchmarkRadio" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default">Amazon</span>
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="radio" name="benchmarkRadio" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default">Daimler</span>
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="radio" name="benchmarkRadio" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default">Nike</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Apply</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ppModal" tabindex="-1" role="dialog" aria-labelledby="ppModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Take A Portfolio Part</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Put a cross on the object you want to have implemented as a benchmark.</p>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="radio" name="ppRadio" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default">Amazon</span>
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="radio" name="ppRadio" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default">Daimler</span>
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="radio" name="ppRadio" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default">Nike</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="cabModal" tabindex="-1" role="dialog" aria-labelledby="cabModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Change Portfolio Part</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Put a cross on the objects you want your advanced benchmark to consist of and add a percentage. Moreover set a name for this benchmark.
				</p>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<span>Name</span>
					</span>
					<input type="text" class="form-control label label-default">
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default border-right-0">Amazon</span>
					<input type="number" class="form-control label label-default">
					<span class="input-group-addon">%</span>
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default border-right-0">Daimler</span>
					<input type="number" class="form-control label label-default">
					<span class="input-group-addon">%</span>
				</div>
				<div class="input-group mb-1">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="Checkbox for following stock">
					</span>
					<span class="form-control label label-default border-right-0">Nike</span>
					<input type="number" class="form-control label label-default">
					<span class="input-group-addon">%</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="hModal" tabindex="-1" role="dialog" aria-labelledby="hModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Explanation / Help</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>General</h5>
				<p>
					<span class="text-underline">Adjusted:</span> Adjusted Performance means that fees and taxes are considered.
				</p>
				<h5>Portfolio</h5>
				<p>
					<span class="text-underline">Best Potential Performance:</span> When a object was bought the program realizes that and looks up if it was sold until today. If it was not sold the program buys the object at the lowest price, between the actual buy point and today, and holds it. In case it was sold the program buys at the lowest or sells at the highest price or both, between the actual buy and sell point. If it buys at the lowest or sells at the highest price or both depends on the best performance.
				</p>
				<p>
					<span class="text-underline">Worst Potential Performance:</span> This is exactly the same like best potential performance but the other way around.
				</p>
				<p>
					<span class="text-underline">Bigfoot Performance:</span> In this case it is assumed that all the money that was invested over the time span is already available at the beginning. Everything is now bought at the lowest or sold at the highest price or both, whatever brings the best performance.
				</p>
				<h5>Benchmark</h5>
				<p>
					<span class="text-underline">Normal Benchmark:</span> A normal benchmark just shows the performance of a specific object. In this case the adjusted performance is calculated by using the average fees.
				</p>
				<p>
					<span class="text-underline">Advanced Benchmark:</span> An advanced benchmark shows the performance of multiple objects. The performance of every object is calculated. After that this performance is weighted with the objects percentage divided by the overall percentage. The sum of all weighted individual performances is the performance of this benchmark. In this case the adjusted performance is calculated by using the average fees. 
				</p>
				<p>
					<span class="text-underline">Portfolio Part Benchmark:</span> This benchmark shows the performance of specific objects in the portfolio. These objects are bought and sold at the same time as in the portfolio. In this case the adjusted performance is calculated by using the actual fees and taxes.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>    
<!-- /Modals -->
{% endblock %}