{% extends "layout/lm.j2" %}
{% set headingCategory = "Account" %}
{% set headingHeading = account.name %}
{% set title = "Account " + account.name + " | Banking" %}
{% block main %}
    {% import "symbols/button.j2" as bg %}
    {% import "symbols/modal.j2" as mg %}
    <div class="d-flex justify-content-center mt-2 mb-5">
        <div class="btn-group" role="group" aria-label="Console">
            {{ bg.hrefButton("Stats", request.path + '?tab=stats', active=(tab=='stats') ) }}
            {% if import %}{{ bg.hrefButton("Import", request.path + '?tab=import', active=(tab=='import') ) }}{% endif %}
            {{ bg.hrefButton("Changes", request.path + '?tab=changes', active=(tab=='changes') ) }}
        </div>
    </div>
    {% include 'symbols/stats.j2' %}
    {% if tab=='import' %}
        {{ mg.djangoModal('Run Import', 'runImport') }}
        {{ mg.djangoModal('Import Change', 'importChange') }}
        {{ mg.djangoModal('Delete Change', 'deleteChange') }}
        <table class="table rounded table-responsive-md table-dark mb-5">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th class="text-end" scope="col">Change</th>
                    <th class="text-end" scope="col">
                        {% if import_type == "comdirect" %}
                            {{ bg.modalButton("Run Import", "#runImport", url("banking:run_comdirect_import", args=[import.pk]) ) }}
                        {% elif import_type == "csv" %}
                            {{ bg.modalButton("Run Import", "#runImport", url("banking:run_csv_import", args=[import.pk]) ) }}
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for change in changes %}
                    <tr>
                        <td>{{ change.date.strftime("%d.%m.%Y %H:%M") }}</td>
                        <td>{{ change.description_str }}</td>
                        <td class="text-end">{{ change.change }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.modalButton("Import", "#importChange", url("banking:import_comdirect_change", args=[change.pk]) ) }}
                                {{ bg.modalButton("Delete", "#deleteChange", url("banking:delete_comdirect_change", args=[change.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if tab=='changes' %}
        {{ mg.djangoModal('Edit Change', 'editChange') }}
        {{ mg.djangoModal('Delete Change', 'deleteChange') }}
        {{ mg.djangoModal('Add Change', 'addChange') }}
        {{ mg.djangoModal('Move Money', 'moveMoney') }}
        {{ mg.djangoModal('Import Changes', 'importChanges') }}
        <table class="table rounded table-responsive-md table-dark mb-5">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th class="text-end" scope="col">Change</th>
                    <th class="text-end" scope="col">Balance</th>
                    <th class="text-end" scope="col">
                        {{ bg.modalButton("Move Money", "#moveMoney", url("banking:move_money") + "?from_account="+account.pk|string + "&to_account=Account-"+account.pk|string ) }}
                        {{ bg.modalButton("Add Change", "#addChange", url("banking:add_change") +"?account="+account.pk|string) }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for change in changes %}
                    <tr>
                        <td>{{ localtime(change.date).strftime('%d.%m.%Y %H:%M') }}</td>
                        <td>{{ change.category }}</td>
                        <td>{{ change.get_description() }}</td>
                        <td class="text-end">{{ change.change }}</td>
                        <td class="text-end">{{ change.get_stats()['Balance'] }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.modalButton("Edit", "#editChange", url("banking:edit_change", args=[change.pk]) ) }}
                                {{ bg.modalButton("Delete", "#deleteChange", url("banking:delete_change", args=[change.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr id="load-more">
                    {% if show %}
                        <td colspan="6">{{ bg.hrefButton("Load More", request.path + '?tab=changes&show=' + show + '#load-more') }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="6">
                        {{ bg.modalButton("Add Change", "#addChange", url("banking:add_change") +"?account="+account.pk|string) }}
                        {{ bg.modalButton("Move Money", "#moveMoney", url("banking:move_money") + "?from_account="+account.pk|string + "&to_account=Account-"+account.pk|string ) }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
