{% extends "layout/lm.njk" %}

{% set headingCategory="Account" %}
{% set headingHeading=account.name %}
{% set title="Account " + account.name + " | Banking" %}

{% block main %}

    {% import "modules/table.njk" as tg %}
    {% import "modules/button.njk" as bg %}
    {% import "modules/card.njk" as cg %}
    {% import "modules/modal.njk" as mg %}
    {% import "modules/console.njk" as cog %}

    <div class="d-flex justify-content-center mt-2 mb-5">
        <div class="btn-group" role="group" aria-label="Console">
            {{ bg.hrefButton("Stats", request.path + '?tab=stats', active=(tab=='stats')) }}
            {{ bg.hrefButton("Changes", request.path + '?tab=changes', active=(tab=='changes')) }}
        </div>
    </div>

    {% include 'symbols/stats.j2' %}

    {% if tab=='changes' %}
            <table class="table rounded table-responsive-md table-dark">
                <thead>
                <tr>
                    <th class="border-0" scope="col">Date</th>
                    <th class="border-0" scope="col">Category</th>
                    <th class="border-0" scope="col">Description</th>
                    <th class="border-0" scope="col">Change</th>
                    <th class="border-0" scope="col">Balance</th>
                    <th class="border-0" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for change in changes %}
                <tr>
                    <td>{{ change.date.strftime('%d.%m.%Y %H:%M') }}</td>
                    <td>{{ change.category }}</td>
                    <td>{{ change.get_description() }}</td>
                    <td>{{ change.change }}</td>
                    <td>{{ change.get_stats()['Balance'] }}</td>
                    <td>
                        <div class="d-flex">
                            {{ mg.djangoModal("Edit Change", "editChange"+change.pk|string, url("banking:edit_change", args=[account.slug, change.pk])) }}
                            {{ bg.modalButton("Edit", "#editChange"+change.pk|string) }}
                            {{ mg.djangoModal("Delete Change", "deleteChange"+change.pk|string, url("banking:delete_change", args=[account.slug, change.pk])) }}
                            {{ bg.modalButton("Delete", "#deleteChange"+change.pk|string) }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">
                        {{ mg.djangoModal("Deposit / Withdraw", "addChange", url("banking:add_change", args=[account.slug])) }}
                        {{ bg.modalButton("Deposit / Withdraw", "#addChange") }}
                    </td>
                </tr>
                </tbody>
            </table>
    {% endif %}

{% endblock %}
