{% extends "layout/lm.njk" %}

{% set headingCategory="Dashboard" %}
{% set headingHeading="Banking" %}
{% set title="Banking" %}

{% block main %}

{% import "modules/button.njk" as bg %}
{% import "modules/modal.njk" as mg %}

<div class="d-flex justify-content-center mt-2 mb-5">
    <div class="btn-group" role="group" aria-label="Console">
        {{ bg.hrefButton("Stats", request.path + '?tab=stats', active=(tab=='stats')) }}
        {{ bg.hrefButton("Accounts", request.path + '?tab=accounts', active=(tab=='accounts')) }}
        {{ bg.hrefButton("Categories", request.path + '?tab=categories', active=(tab=='categories')) }}
        {{ bg.hrefButton("Charts", request.path + '?tab=charts', active=(tab=='charts')) }}
    </div>
</div>

{% include 'modules/stats.j2' %}

{% if tab=='accounts' %}
    <table class="table rounded table-responsive-md table-dark mb-5">
        <thead>
        <tr>
            <th class="border-0" scope="col">Account</th>
            <th class="border-0" scope="col">Balance</th>
            <th class="border-0" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.get_stats()['Balance'] }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        {{ mg.djangoModal("Deposit / Withdraw", "addChange"+account.pk|string, url("banking:add_change")+"?account="+account.pk|string) }}
                        {{ bg.modalButton("Deposit / Withdraw", "#addChange"+account.pk|string) }}
                        {{ mg.djangoModal("Edit Account", "editAccount"+account.pk|string, url("banking:edit_account", args=[account.pk])) }}
                        {{ bg.modalButton("Edit", "#editAccount"+account.pk|string) }}
                        {{ bg.hrefButton("Open", url("banking:account", args=[account.pk])) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <div class="d-flex">
                    {{ mg.djangoModal("Add Account", "addAccount", url("banking:add_account")) }}
                    {{ bg.modalButton("Add Account", "#addAccount") }}
                    {{ mg.djangoModal("Delete Account", "deleteAccount", url("banking:delete_account")) }}
                    {{ bg.modalButton("Delete Account", "#deleteAccount") }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}

{% if tab=='categories' %}
    <table class="table rounded table-responsive-md table-dark mb-5">
        <thead>
        <tr>
            <th class="border-0" scope="col">Category</th>
            <th class="border-0" scope="col">Change</th>
            <th class="border-0" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.get_stats()['Change'] }}</td>
                <td>
                    <div class="d-flex">
                        {{ bg.modalButton("Edit", "#editCategory"+category.pk|string) }}
                        {{ mg.djangoModal("Edit Category", "editCategory"+category.pk|string, url("banking:edit_category", args=[category.pk])) }}
                        {{ bg.hrefButton("Open", url("banking:category", args=[category.pk])) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <div class="d-flex">
                    {{ mg.djangoModal("Add Category", "addCategory", url("banking:add_category")) }}
                    {{ bg.modalButton("Add Category", "#addCategory") }}
                    {{ mg.djangoModal("Delete Category", "deleteCategory", url("banking:delete_category")) }}
                    {{ bg.modalButton("Delete Category", "#deleteCategory") }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}

{% if tab=='charts' %}
    {% include 'banking/symbols/balance_chart.html' %}
    {% include 'banking/symbols/income_and_expenditure_chart.html' %}
{% endif %}

{% endblock %}
