{% if tab=="flows" %}
    <table class="table table-dark table-responsive-md rounded">
        <thead>
        <tr>
            <th class="border-0" scope="col">Date</th>
            <th class="border-0" scope="col">Flow</th>
        </tr>
        </thead>
        <tbody>
        {% for flow in flows() %}
            <tr>
                <td>{{ flow[0].strftime('%d.%m.%Y') }}</td>
                <td>{{ "%.2f"|format(flow[1]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}