{% import "modules/form_contents.njk" as form %}
{% import "modules/modals.njk" as modals %}


<!-- Depot -->
{% macro addCryptoDepotModal(user, csrf_token, reverse) %}
	{% set content %}
		<input type="hidden" id="reverseInput" name="reverse" value="{{ reverse }}">
		{{ form.labelInput(labelText="Name", inputText="Choose A Name", inputType="text", name="name", required="True", maxlength=200) }}
	{% endset %}
	{{ modals.modal(content, url("users:add_crypto_depot", args=[user.slug,]), "addCryptoDepot", "Add Depot", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editCryptoDepotModal(user, csrf_token) %}
	{% set content %}
		<input type="hidden" id="editCryptoDepotPkInput" name="pk" value="">
		{{ form.labelInput(labelText="Name", inputText="Choose A New Name", inputType="text", name="name", required="True", maxlength=200, id="editCryptoDepotNameInput") }}
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editCryptoDepot").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					$("#editCryptoDepot #editCryptoDepotPkInput").attr("value", data.pk)
					$("#editCryptoDepot #editCryptoDepotNameInput").attr("value", data.name)
				});
	        });
	    </script> 
	{% endset %}
	{{ modals.modal(content, url("users:edit_crypto_depot", args=[user.slug, ]), "editCryptoDepot", "Edit Depot", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deleteCryptoDepotModal(user, depots, csrf_token, reverse) %}
	{% set content %}
		<input type="hidden" id="reverseInput" name="reverse" value="{{ reverse }}">
		{{ form.labelSelectNamePk(labelText="Select A Depot", selectItems=depots, name="pk", required="True") }}
	{% endset %}
	{{ modals.modal(content, url("users:delete_crypto_depot", args=[user.slug,]), "deleteCryptoDepot", "Delete Depot", csrf_token, "Delete", "Cancel") }}
{% endmacro %} 


<!-- Account -->
{% macro addCryptoAccountModal(user, depot, csrf_token, reverse) %}
	{% set content %}
		<input type="hidden" id="reverseInput" name="reverse" value="{{ reverse }}">
		<input type="hidden" id="depotInput" name="depot" value="{{ depot }}">
		{{ form.labelInput(labelText="Name", inputText="Choose A Name", inputType="text", name="name", required="True", maxlength=200) }}
	{% endset %}
	{{ modals.modal(content, url("crypto:add_account", args=[user.slug,]), "addCryptoAccount", "Add Account", csrf_token, "Save", "Cancel") }}
{% endmacro %}
  

<!-- Asset -->
{% macro addCryptoAssetModal(user, reverse, csrf_token) %}
	{% set content %}
		<input type="hidden" id="reverseInput" name="reverse" value="{{ reverse }}">
		{{ form.labelInput(labelText="Name", inputText="Choose A Name", inputType="text", name="name", required="True", maxlength=300) }}
		{{ form.labelInput(labelText="Symbol", inputText="Choose A Symbol (BTC / ETH / BCH ...)", inputType="text", name="symbol", maxlength=5, required="True") }}
	{% endset %}
	{{ modals.modal(content, url("crypto:add_asset", args=[user.slug,]), "addCryptoAsset", "Add Asset", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro moveAssetModal(user, account, accounts, csrf_token=None) %}
	{% set content %}
		<input type="hidden" id="accountInput" name="from_account" value="{{ account.pk }}">
		<input type="hidden" id="assetInput" name="asset" value="">
		<script type="text/javascript">
	        jQuery(function(){
	        	$("#moveAsset").on("show.bs.modal", function(e) {
			    	var pk = e.relatedTarget.dataset.assetpk;
			    	$("#moveAsset #assetInput").attr("value", pk)
			    });
	        });
	    </script>
		{{ form.labelSelectNamePk(labelText="Move To Account", selectItems=accounts, name="to_account", required="True") }}
		{{ form.labelInput(labelText="Date of the Move", inputText="", inputType="datetime-local", name="date", required="True") }}
		{{ form.labelInput(labelText="Amount (Without Fees)", inputType="number", name="amount", required="True", min=0, step=0.000000001) }}
		{{ form.labelInput(labelText="Tx Fees", inputType="number", name="fees", required="False", min=0, step=0.000000001) }}
	{% endset %}
	{{ modals.modal(content, url("crypto:move_asset", args=[user.slug, account.slug, ]), "moveAsset", "Move Asset", csrf_token, "Move", "Cancel") }}
{% endmacro %}  

{% macro deleteAssetModal(user, assets, csrf_token) %}
	{% set content %}
		{{ form.labelSelectNamePk(labelText="Select A Asset", selectItems=assets, name="asset", required="True") }}
	{% endset %}
	{{ modals.modal(content, url("crypto:delete_asset", args=[user.slug,]), "deleteAsset", "Remove Asset", csrf_token, "Remove", "Cancel") }}
{% endmacro %}


<!-- Trade -->
{% macro addTradeModal(user, reverse, accounts, assets, csrf_token) %}
	{% set content %}	
		<input type="hidden" name="reverse" value="{{ reverse }}">
		{{ form.labelSelectNamePk(labelText="Account", name="account", selectItems=accounts, required="True") }}
		{{ form.labelInput(labelText="Date", inputText="Pick A Date", inputType="datetime-local", name="date", required="True") }}
		{{ form.labelInputSelectSymbolPk(labelText="Buy (Doesn't include fees.)", inputText="Amount", inputName="buy_amount", selectName="buy_asset", inputType="number", selectItems=assets) }}
		{{ form.labelInputSelectSymbolPk(labelText="Fees", inputText="Amount", inputName="fees", selectName="fees_asset", inputType="number", selectItems=assets) }}
		{{ form.labelInputSelectSymbolPk(labelText="Sell (Doesn't include fees.)", inputText="Amount", inputName="sell_amount", selectName="sell_asset", inputType="number", selectItems=assets) }}
	{% endset %}
	{{ modals.modal(content, url("crypto:add_trade", args=[user.slug,]), "addTrade", "Buy / Sell", csrf_token, "Save", "Cancel") }}
{% endmacro %}


{% macro addOldTradeModal(reverse_lazy, symbols, accounts=None, assets=None, account=None, asset=None, csrf_token=None) %}
	{% set content %}
		{% if asset %}
			<input type="hidden" id="assetInput" name="asset" value="{{ asset.pk }}">
		{% elif assets %}
			{{ form.labelSelectNamePk(labelText="Choose Asset", selectItems=assets, name="asset", required="True") }}
		{% else %}
			<input type="hidden" id="assetInput" name="asset" value="">
			<script type="text/javascript">
		        jQuery(function(){
		        	$("#addTrade").on("show.bs.modal", function(e) {
				        var pk = e.relatedTarget.dataset.pk;
				        $("#addTrade #assetInput").attr("value", pk)
				    });
		        });
		    </script>
		{% endif %}
		{% if account %}
			<input type="hidden" id="accountInput" name="account" value="{{ account.pk }}">
		{% elif accounts %}
			{{ form.labelSelectNamePk(labelText="Choose Account", selectItems=accounts, name="account", required="True") }}
		{% else %}
			<input type="hidden" id="accountInput" name="account" value="">
			<script type="text/javascript">
		        jQuery(function(){
		        	$("#addTrade").on("show.bs.modal", function(e) {
				        var pk = e.relatedTarget.dataset.pk;
				        $("#addTrade #accountInput").attr("value", pk)
				    });
		        });
		    </script>
		{% endif %}
		<input type="hidden" name="reverse_lazy" value="{{ reverse_lazy }}">
		{{ form.labelSelect(labelText="Type", selectItems=["BUY", "SELL"], name="type", required="True") }}
		{{ form.labelInput(labelText="Amount", inputText="Enter Amount", inputType="number", name="amount", required="True", min=0, step=0.000000001) }}
		{{ form.labelInput(labelText="Date", inputText="Pick A Date", inputType="datetime-local", name="date", required="True") }}
		{{ form.labelInput(labelText="Fees", inputText="", inputType="number", name="fees", required="True", min=0, step=0.000000001) }}
		{{ form.labelInput(labelText="Total Sum", inputText="", inputType="number", name="sum", required="True", min=0, step=0.000000001) }}
		{{ form.labelSelect(labelText="Buy With", selectItems=symbols, name="buy_with", required="True") }}
	{% endset %}
	{{ modals.modal(content, url("crypto:add_trade"), "addTrade", "Buy / Sell", csrf_token, "Save", "Cancel") }}
{% endmacro %}


<!-- Price -->
{% macro addPriceModal(user, reverse, asset_pk, csrf_token=None) %}
	{% set content %}
		<input type="hidden" name="reverse" value="{{ reverse }}">
		<input type="hidden" id="assetInput" name="asset" value="{{ asset_pk }}" style="display: none;">
		{{ form.labelInput(labelText="Date", inputText="Pick A Date", inputType="datetime-local", name="date", required="True") }}
		{{ form.labelInput(labelText="Price", inputText="Enter Price", inputType="number", name="price", required="True", min=0)}}
	{% endset %}
	{{ modals.modal(content, url("crypto:add_price", args=[user.slug,]), "addPrice", "Add Price", csrf_token, "Save", "Cancel") }}
{% endmacro %}