{% extends "static/base.njk" %}

{% import "modules/heading.njk" as heading %}

{% block body %}
    <body id="lm">
        <aside id="lm-left">
            {% include "layout/left.njk" %}
        </aside>
        <main id="lm-main">
            {{ heading.bigLmHeading(headingCategory, headingHeading) }}
            <div class="wrapper">
                {% block chart %}
                {% endblock %}
            </div>
            {% include "modules/messages.njk" %}
            {% block main %}
            {% endblock %}
        </main>
        <div class="wrapper">
            {% block modals %}
            {% endblock %}
        </div>
        <script type="text/javascript">
            jQuery(function(){
                {% block jquery %}
                {% endblock %}
            });
        </script>
    </body>
{% endblock body %}