{% extends "static/base.njk" %}


{% set html="lm" %}


{% import "modules/heading.njk" as hg %}
{% import "modules/messages.njk" as messages %}


{% block special %}
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
{% endblock %}


{% block body %}
    <body class="lm">
        <aside class="lm--left">
            {% include "layout/left.njk" %}
        </aside>
        <main class="lm--main">
            {{ hg.bigLmHeading(headingCategory, headingHeading) }}
            <div class="wrapper">
                {% block chart %}
                {% endblock %}
            </div>
            {{ messages.lmMessages(request) }}
            {% block main %}
            {% endblock %}
        </main>
        <div class="wrapper">
            {% block modals %}
            {% endblock %}
        </div>
        <script type="text/javascript">
            jQuery(function(){
                {% block jquery %}
                {% endblock %}
            });
        </script>
    </body>
{% endblock body %}