{% macro modalButton(text, target, classes="") %}
	<a class="btn btn-sm btn-info {{ classes }}" type="button" data-toggle="modal" data-target="{{ target }}">{{ text }}</a>
{% endmacro %}

{% macro hrefButton(text, url, classes="", active=False) %}
	<a class="btn btn-sm btn-secondary {{ classes }} {{ 'active' if active else '' }}" type="button" href="{{ url }}">{{ text }}</a>
{% endmacro %}

{% macro submitButton(text="Submit", classes="btn-sm") %}
  	<button type="submit" class="btn btn-dark {{ classes }}" role="button">{{ text }}</button>
{% endmacro %}

{% macro navigationButton(text, url, classes="", active=False) %}
    <a class="btn w-100 text-left {% if active %}btn-secondary active{% else %}btn-link text-white text-decoration-none{% endif %} {{ classes }}" href="{{ url }}">{{ text }}</a>
{% endmacro %}

{% macro dismissButton(text="Cancel", classes="") %}
    <button class="btn btn-light {{ classes }}" type="button" data-dismiss="modal">{{ text }}</button>
{% endmacro %}