{% macro statsCard(heading, value, ext=None) %}
    <div class="col-3">
        <div class="card mb-3">
            <h2 class="card-header h5">{{ heading }}</h2>
            <div class="card-body">
                {% if ext=="%" and value!="x" %}
                    {{ value*100 }} {{ ext }}
                {% elif ext %}
                    {{ value }} {{ ext }}
                {% else %}
                    {{ value }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}