{% import 'modules/button.njk' as buttons %}

{% macro formGenerator(form, url, csrf_token, form_classes='', submit_button_text='', submit_button_classes='') %}
    <form method="post" action="{{ url }}" class="djangoform {{ form_classes }}">
        {{ form.as_p() }}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ buttons.submitButton(text=submit_button_text, classes=submit_button_classes) }}
    </form>
{% endmacro %}

{% macro setActiveButtonForm(object, url, csrf_token) %}
    <form method="post" action="{{ url }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="is_active" id="id_is_active" value="True">
        <button type="submit" class="submit-button--small" role="button" {{ "disabled" if object.is_active else "" }}>
            Set Active
        </button>
    </form>
{% endmacro %}
