{% if tab=="flows" %}
    {{ mg.djangoModal("Add Flow", "addFlow") }}
    {{ mg.djangoModal("Edit Flow", "editFlow") }}
    {{ mg.djangoModal("Delete Flow", "deleteFlow") }}
    <table class="table table-dark table-responsive-md rounded">
        <thead>
        <tr>
           <th scope="col">Date</th>
           <th scope="col">Account</th>
           <th class="text-end" scope="col">Flow</th>
           <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for flow in flows %}
            <tr>
                <td>{{ localtime(flow.date).strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ flow.account }}</td>
                <td class="text-end">{{ flow.flow }}</td>
                <td>
                    <div class="d-flex justify-content-end">
                        {{ bg.modalButton("Edit", "#editFlow", url("crypto:edit_flow", args=[flow.pk])) }}
                        {{ bg.modalButton("Delete", "#deleteFlow", url("crypto:delete_flow", args=[flow.pk])) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <div class="d-flex">
                    {{ bg.modalButton("Add Flow", "#addFlow", url("crypto:add_flow")+"?account="+account.pk|string) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}