{% if tab=="transactions" %}
    {{ mg.djangoModal("Add Transaction", "addTransaction") }}
    {{ mg.djangoModal("Edit Transaction", "editTransaction") }}
    {{ mg.djangoModal("Delete Transaction", "deleteTransaction") }}
    {% if asset %}
        {% set defaults="?asset="+object.pk|string %}
    {% endif %}
    {% if account %}
        {% set defaults="?from_account="+object.pk|string+"&to_account="+object.pk|string%}
    {% endif %}
    <table class="table table-dark table-responsive-md rounded mb-5">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Asset</th>
            <th scope="col">From Account</th>
            <th scope="col">To Account</th>
            <th class="text-end" scope="col">Amount</th>
            <th class="text-end" scope="col">Fees</th>
            <th class="text-end" scope="col">
                {{ bg.modalButton("Add Transaction", "#addTransaction", url("crypto:add_transaction")+defaults) }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ localtime(transaction.date).strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ transaction.asset }}</td>
                <td>{{ transaction.from_account }}</td>
                <td>{{ transaction.to_account }}</td>
                <td class="text-end">{{ transaction.amount }}</td>
                <td class="text-end">{{ transaction.fees }}</td>
                <td>
                    <div class="d-flex justify-content-end">
                        {{ bg.modalButton("Edit", "#editTransaction", url("crypto:edit_transaction", args=[transaction.pk])) }}
                        {{ bg.modalButton("Delete", "#deleteTransaction", url("crypto:delete_transaction", args=[transaction.pk])) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="7">
                <div class="d-flex">
                    {{ bg.modalButton("Add Transaction", "#addTransaction", url("crypto:add_transaction")+defaults) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}