{% import "modules/form_childs.njk" as childs %}
{% import "modules/modals.njk" as modals %}


<!-- Depot -->
{% macro addBankingDepotModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name") }}
	{% endset %}
	{%- set url=url("users:add_banking_depot", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addBankingDepot", "Add Depot", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editBankingDepotModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name") }}
		<input type="hidden" class="inputpk" name="pk">
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editBankingDepot").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					$("#editBankingDepot .editBankingDepotPkInput").attr("value", data.pk)
					$("#editBankingDepot .inputname").attr("value", data.name)
				});
	        });
	    </script> 
	{% endset %}
	{%- set url=url("users:edit_banking_depot", args=[user.slug, ]) -%}
	{{ modals.modal(content, url, "editBankingDepot", "Edit Depot", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deleteBankingDepotModal(user, depots, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Select A Depot", "pk", depots) }}
	{% endset %}
	{%- set url=url("users:delete_banking_depot", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "deleteBankingDepot", "Delete Depot", csrf_token, "Delete", "Cancel") }}
{% endmacro %} 


<!-- Account -->
{% macro addAccountModal(user, depot, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name") }}
		<input type="hidden" class="inputdepot" name="depot" value="{{ depot }}">
	{% endset %}
	{%- set url=url("banking:add_account", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addAccount", "Add Account", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editAccountModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name") }}
		<input type="hidden" class="inputaccount" name="pk" value="">
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editAccount").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					$("#editAccount .inputaccount").attr("value", data.pk)
					$("#editAccount .inputname").attr("value", data.name)
				});
	        });
	    </script> 
	{% endset %}
	{%- set url=url("banking:edit_account", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "editAccount", "Edit Account", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deleteAccountModal(user, accounts, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Select An Account", "pk", accounts) }}
	{% endset %}
	{%- set url=url("banking:delete_account", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "deleteAccount", "Delete Account", csrf_token, "Delete", "Cancel") }}
{% endmacro %} 


<!-- Category -->
{% macro addCategoryModal(user, csrf_token) %}
	{% set content %}
		{{ childs.textInput("Name", "name") }}
		{{ childs.textarea("Description", "description") }}
	{% endset %}
	{%- set url=url('banking:add_category', args=[user.slug,]) -%}
	{{ modals.modal(content, url, "addCategory", "Add Category", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editCategoryModal(user, csrf_token) %}
	{% set content %}
		<input type="hidden" class="inputpk" name="pk" value="">
		{{ childs.textInput("Name", "name") }}
		{{ childs.textarea("Description", "description") }}
		<script type="text/javascript">
	        jQuery(function(){
	            $("#editCategory").on("show.bs.modal", function(e) {
				    var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					$("#editCategory .inputpk").attr("value", data.pk)
					$("#editCategory .inputname").attr("value", data.name)
					$("#editCategory .textareadescription").val(data.description)
				});
	        });
	    </script>
	{% endset %}
	{%- set url=url('banking:edit_category', args=[user.slug,]) -%}
	{{ modals.modal(content, url, "editCategory", "Edit Category", csrf_token, "Update", "Cancel") }}
{% endmacro %}

{% macro deleteCategoryModal(user, categories, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Select A Category", "pk", categories) }}
	{% endset %}
	{%- set url=url("banking:delete_category", args=[user.slug,]) -%}
	{{ modals.modal(content, url, "deleteCategory", "Delete Category", csrf_token, "Delete", "Cancel") }}
{% endmacro %}


<!-- Change -->
{% macro addChangeModal(user, url, categories, csrf_token) %}
	{% set content %}
		{{ childs.dateInput("date") }}
		{{ childs.pkNameSelect("Category", "category", categories) }}
		{{ childs.textarea("Description", "description") }}
		{{ childs.numberInput("Change", "change") }}
		<input type="hidden" class="inputaccount" name="account">
		<script type="text/javascript">
	        jQuery(function(){
	        	$("#addChange").on("show.bs.modal", function(e) {
				    var pk = e.relatedTarget.dataset.accountpk;
				    $("#addChange .inputaccount").attr("value", pk)
				});
	        });
	    </script>
	{% endset %}
	{{ modals.modal(content, url, "addChange", "Deposit / Withdraw", csrf_token, "Save", "Cancel") }}
{% endmacro %}

{% macro editChangeModal(user, account, accounts, categories, csrf_token) %}
	{% set content %}
		{{ childs.pkNameSelect("Account", "account", accounts) }}
		{{ childs.pkNameSelect("Category", "category", categories) }}
		{{ childs.dateInput("date") }}
		{{ childs.textarea("Description", "description") }}
		{{ childs.numberInput("Change", "change") }}
		<input type="hidden" class="inputpk" name="pk">
		<script type="text/javascript">
	        jQuery(function(){
				$("#editChange").on("show.bs.modal", function(e) {
					var data = e.relatedTarget.dataset.all;
					data = data.replace(/'/g, '"')
					data = JSON.parse(data)
					data.date = data.date.substring(0, 16).replace(" ", "T")
					$("#editChange .inputpk").attr("value", data.pk)
					$("#editChange .selectaccount option").filter(function() { return $(this).val() == data.account; }).attr('selected', true);
					$("#editChange .selectcategory option").filter(function() { return $(this).val() == data.category; }).attr('selected', true);
					$("#editChange .inputdate").attr("value", data.date)
					$("#editChange .textareadescription").text(data.description)
					$("#editChange .inputchange").attr("value", data.change)
				});
	        });
	    </script>
	{% endset %}
	{%- set url=url("banking:edit_change", args=[user.slug, account.slug]) -%}
	{{ modals.modal(content, url, "editChange", "Edit Change", csrf_token, "Update", "Cancel") }}
{% endmacro %}