{% macro button(text, class="") %}
	<button type="button" class="btn {{ class }}">{{ text }}</button>
{% endmacro %}


{% macro buttonDepositWithdraw() %}
	<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#newChange">Deposit / Withdraw</button>
{% endmacro %}


{% macro buttonModal(text="", dataTarget="", class="btn-info", data=None) %}
	<button type="button" class="btn btn-sm {{ class }}" data-toggle="modal" data-target="{{ dataTarget }}" {% if data %}data-{{ data }}{% endif %}>{{ text }}</button>
{% endmacro %}

{% macro buttonModalNew(text="", dataTarget="", class="btn-info", data=None) %}
  <button type="button" class="btn btn-sm {{ class }}" data-toggle="modal" data-target="{{ dataTarget }}" {% if data %}data-all="{{ data }}"{% endif %}>{{ text }}</button>
{% endmacro %}

 
{% macro buttonLink(text="", url="", class="btn-info") %}
  <a type="button" href="{{ url | safe }}" class="btn btn-sm {{ class }}" role="button">{{ text }}</a>
{% endmacro %}


{% macro buttonLink(text="", url="", class="btn-info") %}
  <a type="button" href="{{ url | safe }}" class="btn btn-sm {{ class }}" role="button">{{ text }}</a>
{% endmacro %}


{% macro buttonBuy(dataTarget="", data="") %}
  <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="{{ dataTarget }}" {% if data %}data-{{ data }}{% endif %}>Buy</button>
{% endmacro %}


{% macro dropdown(title="Title", items=[]) %}
<div class="btn-group">
 	<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	{{ title }}
  	</button>
  	<div class="dropdown-menu">
  		{% for item in items %}
	    	<a class="dropdown-item btn-sm" href="#">{{ item }}</a>
	    {% endfor %}
  	</div>
</div>	
{% endmacro %}

  
{% macro dropdownName(title="Title", items=[]) %}
<div class="btn-group">
 	<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	{{ title }}
  	</button>
  	<div class="dropdown-menu">
  		{% for item in items %}
	    	<a class="dropdown-item btn-sm" href="#">{{ item.name }}</a>
	    {% endfor %}
  	</div>
</div>	
{% endmacro %}