{% extends "layout/lm.j2" %}
{% set headingCategory = "User" %}
{% set headingHeading = "Hello "+object.username %}
{% set title = "Settings" %}
{% import "symbols/button.j2" as bg %}
{% import "symbols/heading.j2" as hg %}
{% import "symbols/modal.j2" as mg %}
{% block main %}
    <div class="d-flex justify-content-center mt-2 mb-5">
        <div class="btn-group" role="group" aria-label="Console">
            {{ bg.hrefButton("Start", request.path + '?tab=stats', active=(tab=='stats') ) }}
            {{ bg.hrefButton("Banking", request.path + '?tab=banking', active=(tab=='banking') ) }}
            {{ bg.hrefButton("Crypto", request.path + '?tab=crypto', active=(tab=='crypto') ) }}
            {{ bg.hrefButton("Alternative", request.path + '?tab=alternative', active=(tab=='alternative') ) }}
            {{ bg.hrefButton('Stocks', request.path + '?tab=stocks', active=(tab=='stocks') ) }}
        </div>
    </div>
    {% if tab=="stats" %}
        <div class="rounded bg-dark p-3 mb-5">
            <div class="mb-4">
                <dl class="row mb-0">
                    <dt class="col-12 col-sm-4 mb-sm-1">Username:</dt>
                    <dd class="col-12 col-sm-8 mb-2 mb-sm-1">
                        {{ object.username }}
                    </dd>
                    <dt class="col-12 col-sm-4 mb-sm-1">E-Mail:</dt>
                    <dd class="col-12 col-sm-8 mb-2 mb-sm-1">
                        {{ object.email }}
                    </dd>
                    <dt class="col-12 col-sm-4 mb-sm-1">Frontpage:</dt>
                    <dd class="col-12 col-sm-8 mb-2 mb-sm-1">
                        {{ object.front_page }}
                    </dd>
                    <dt class="col-12 col-sm-4 mb-sm-1">Dateformat:</dt>
                    <dd class="col-12 col-sm-8 mb-2 mb-sm-1">
                        {{ object.get_date_format_display() }}
                    </dd>
                </dl>
            </div>
            <div class="d-flex overflow-x-scroll overflow-x-md-auto">
                {{ mg.djangoModal('Edit Username & E-Mail', 'editUser') }}
                {{ bg.modalButton('Edit Username & E-Mail', '#editUser', url('users:edit_user', args=[object.pk]) ) }}
                {{ mg.djangoModal('Edit Password', 'editPassword') }}
                {{ bg.modalButton('Edit Passwort', '#editPassword', url('users:edit_user_password', args=[object.pk]) ) }}
                {{ mg.djangoModal('Edit Preferences', 'editPreferences') }}
                {{ bg.modalButton('Edit Preferences', '#editPreferences', url('users:edit_user_general', args=[object.pk]) ) }}
            </div>
        </div>
    {% endif %}
    {% if tab=="banking" %}
        <table class="table table-dark table-responsive-md rounded mb-5">
            <thead>
                <tr>
                    <th scope="col">Depot</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for depot in banking_depots %}
                    <tr>
                        <td>{{ depot.name }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.hrefButton(text="Set Active", url=url("banking:set_depot", args=[depot.pk]) , disabled=(depot.is_active)) }}
                                {{ mg.djangoModal('Edit Depot', 'editBankingDepot') }}
                                {{ bg.modalButton("Edit", "#editBankingDepot", url("banking:edit_depot", args=[depot.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <div class="d-flex">
                            {{ mg.djangoModal('Add Depot', 'addBankingDepot') }}
                            {{ bg.modalButton('Add Depot', '#addBankingDepot', url("banking:add_depot") ) }}
                            {{ mg.djangoModal('Delete Depot', 'deleteBankingDepot') }}
                            {{ bg.modalButton('Delete Depot', '#deleteBankingDepot', url("banking:delete_depot") ) }}
                            {{ bg.hrefButton("Generate Example Depot", url("users:init_banking", args=[object.pk]) ) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if tab=="crypto" %}
        <table class="table table-dark table-responsive-md rounded mb-5">
            <thead>
                <tr>
                    <th scope="col">Depot</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for depot in crypto_depots %}
                    <tr>
                        <td>{{ depot.name }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.hrefButton(text="Set Active", url=url("crypto:set_depot", args=[depot.pk]) , disabled=(depot.is_active)) }}
                                {{ mg.djangoModal('Edit Depot', 'editCryptoDepot') }}
                                {{ bg.modalButton("Edit", "#editCryptoDepot", url("crypto:edit_depot", args=[depot.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <div class="d-flex">
                            {{ mg.djangoModal('Add Depot', 'addCryptoDepot') }}
                            {{ bg.modalButton('Add Depot', '#addCryptoDepot', url("crypto:add_depot") ) }}
                            {{ mg.djangoModal('Delete Depot', 'deleteCryptoDepot') }}
                            {{ bg.modalButton('Delete Depot', '#deleteCryptoDepot', url("crypto:delete_depot") ) }}
                            {{ bg.hrefButton("Generate Example Depot", url("users:init_crypto", args=[object.pk]) ) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if tab=="alternative" %}
        <table class="table table-dark table-responsive-md rounded mb-5">
            <thead>
                <tr>
                    <th scope="col">Depot</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for depot in alternative_depots %}
                    <tr>
                        <td>{{ depot.name }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.hrefButton(text="Set Active", url=url("alternative:set_depot", args=[depot.pk]) , disabled=(depot.is_active)) }}
                                {{ mg.djangoModal('Edit Depot', 'editAlternativeDepot') }}
                                {{ bg.modalButton("Edit", "#editAlternativeDepot", url("alternative:edit_depot", args=[depot.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <div class="d-flex">
                            {{ mg.djangoModal('Add Depot', 'addAlternativeDepot') }}
                            {{ bg.modalButton('Add Depot', '#addAlternativeDepot', url("alternative:add_depot") ) }}
                            {{ mg.djangoModal('Delete Depot', 'deleteAlternativeDepot') }}
                            {{ bg.modalButton('Delete Depot', '#deleteAlternativeDepot', url("alternative:delete_depot") ) }}
                            {{ bg.hrefButton("Generate Example Depot", url("users:init_alternative", args=[object.pk]) ) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if tab=='stocks' %}
        <table class="table table-dark table-responsive-md rounded mb-5">
            <thead>
                <tr>
                    <th scope="col">Depot</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for depot in stock_depots %}
                    <tr>
                        <td>{{ depot.name }}</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                {{ bg.hrefButton(text="Set Active", url=url("stocks:set_depot", args=[depot.pk]) , disabled=(depot.is_active)) }}
                                {{ mg.djangoModal('Edit Depot', 'editStocksDepot') }}
                                {{ bg.modalButton("Edit", "#editStocksDepot", url("stocks:edit_depot", args=[depot.pk]) ) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <div class="d-flex">
                            {{ mg.djangoModal('Add Depot', 'addStocksDepot') }}
                            {{ bg.modalButton('Add Depot', '#addStocksDepot', url("stocks:add_depot") ) }}
                            {{ mg.djangoModal('Delete Depot', 'deleteStocksDepot') }}
                            {{ bg.modalButton('Delete Depot', '#deleteStocksDepot', url("stocks:delete_depot") ) }}
                            {{ bg.hrefButton("Generate Example Depot", url("users:init_stocks", args=[object.pk]) ) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
