{% extends "layout/m.njk" %}

{% set title="Sign Up" %}

{% import "modules/form.njk" as forms %}
{% import "modules/button.njk" as buttons %}

{% block main %}
	 <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-4">
                <div class="min-vh-100 d-flex flex-column align-items-stretch justify-content-center">
                    <div class="d-flex mb-5 align-items-center">
                        <img class="mr-2" src="{{ static('img/owl.png') }}" width="42" height="42" alt="Owl">
                        <h1 class="m-0">Sign up</h1>
                    </div>
                    <div class="mb-5">
                        {{ forms.formGenerator(form, url('users:signup'), csrf_token, submit_button_text='Sign up', submit_button_classes='ml-auto', form_classes='djangoform-dark') }}
                    </div>
                    <div>
                        {{ buttons.hrefButton(text='Go to the login page', url=url('users:signin'), classes='') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
