{% extends "layout/lm.njk" %}

{% set headingCategory="Dashboard" %}
{% set headingHeading="Stocks" %}
{% set title="Stocks" %}

{% block main %}

    {% import "symbols/button.njk" as bg %}
    {% import "symbols/modal.njk" as mg %}

    <div class="d-flex justify-content-center mt-2 mb-5">
        <div class="btn-group" role="group" aria-label="Console">
            {{ bg.hrefButton("Stats", request.path + '?tab=stats', active=(tab=='stats')) }}
            {{ bg.hrefButton("Banks", request.path + '?tab=banks', active=(tab=='banks')) }}
            {{ bg.hrefButton("Stocks", request.path + '?tab=stocks', active=(tab=='stocks')) }}
            {{ bg.hrefButton("Charts", request.path + '?tab=charts', active=(tab=='charts')) }}
            {{ bg.dropdownButton("Calculations", active=(tab=="values" or tab=="flows")) }}
            <div class="dropdown-menu dropdown-menu-dark py-1">
                <a class="dropdown-item btn-sm" href="?tab=flows">Flows</a>
                <a class="dropdown-item btn-sm" href="?tab=values">Values</a>
            </div>
        </div>
    </div>

    {% include 'symbols/stats.j2' %}

    {% if tab=='banks' %}
        <table class="table rounded table-responsive-md table-dark mb-5">
            <thead>
            <tr>
               <th scope="col">Bank</th>
                <th class="text-end" scope="col">Balance</th>
                <th class="text-end" scope="col">Value</th>
               <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for bank in banks %}
                <tr>
                    <td>{{ bank.name }}</td>
                    <td class="text-end">{{ "%.2f"|format(bank.get_stats()['Balance']) }}</td>
                    <td class="text-end">{{ "%.2f"|format(bank.get_stats()['Value']) }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-end">
                            {{ mg.djangoModal("Edit Bank", "editBank"+bank.pk|string, url("stocks:edit_bank", args=[bank.pk])) }}
                            {{ bg.modalButton("Edit", "#editBank"+bank.pk|string) }}
                            {{ bg.hrefButton("Open", url("stocks:banks", args=[bank.pk])) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <div class="d-flex">
                        {{ mg.djangoModal("Add Bank", "addBank", url("stocks:add_bank")) }}
                        {{ bg.modalButton("Add Bank", "#addBank") }}
                        {{ mg.djangoModal("Delete Bank", "deleteBank", url("stocks:delete_bank")) }}
                        {{ bg.modalButton("Delete Bank", "#deleteBank") }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {% if tab=='stocks' %}
        <table class="table rounded table-responsive-md table-dark mb-5">
            <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Ticker</th>
               <th scope="col">Exchange</th>
                <th class="text-end" scope="col">Price</th>
                <th class="text-end" scope="col">Amount</th>
                <th class="text-end" scope="col">Value</th>
               <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ stock.exchange }}</td>
                    {% with stats=stock.get_stats() %}
                        {% if stats['Price'] %}
                            <td class="text-end">{{ "%.2f"|format(stats['Price']) }}</td>
                        {% else %}
                            <td class="text-end">{{ stats['Price'] }}</td>
                        {% endif %}
                        <td class="text-end">{{ stats['Amount'] }}</td>
                        {% if stats['Value'] %}
                            <td class="text-end">{{ "%.2f"|format(stats['Value']) }}</td>
                        {% else %}
                            <td class="text-end">{{ stats['Value'] }}</td>
                        {% endif %}
                    {% endwith %}
                    <td>
                        <div class="d-flex align-items-center">
                            {{ mg.djangoModal("Edit Stock", "editStock"+stock.pk|string, url("stocks:edit_stock", args=[stock.pk])) }}
                            {{ bg.modalButton("Edit", "#editStock"+stock.pk|string) }}
                            {{ bg.hrefButton("Open", url("stocks:stocks", args=[stock.pk])) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7">
                    <div class="d-flex">
                        {{ mg.djangoModal("Add Stock", "addStock", url("stocks:add_stock")) }}
                        {{ bg.modalButton("Add Stock", "#addStock") }}
                        {{ mg.djangoModal("Delete Stock", "deleteStock", url("stocks:delete_stock")) }}
                        {{ bg.modalButton("Delete Stock", "#deleteStock") }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {% if tab=="charts" %}
        charts todo
    {% endif %}

    {% include 'symbols/values.j2' %}

    {% include 'symbols/flows.j2' %}

{% endblock %}