<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <!-- title -->
        <title>{{ title }}</title>
        <!-- description -->
        <meta name="description"
              content="Take control over your money. Get your cash in order. Banish the chaos of your finances and start becoming wealthy. Plan your current expenses. Let money work for you. Know what you spend your money on. Know exactly how much money you have. Save and invest for the long term.">
        <!-- icon -->
        <link rel="shortcut icon" href="{{ static('img/icon.png') }}">
        <link rel="apple-touch-icon" href="{{ static('img/icon-apple.png') }}">
        <!-- ogs -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://mastercash.com/">
        <meta property="og:logo"
              content="https://finance.danielmoessner.de/static/img/owl.png">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image"
              content="https://finance.danielmoessner.de/static/img/owl.png">
        <meta property="og:description"
              content="Take control over your money. Get your cash in order. Banish the chaos of your finances and start becoming wealthy. Plan your current expenses. Let money work for you. Know what you spend your money on. Know exactly how much money you have. Save and invest for the long term.">
        <!-- charset -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <!-- resizing -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
        <!-- other -->
        {% block head %}
        {% endblock head %}
    </head>
    {% block body %}
    {% endblock body %}
    <!-- popper -->
    <!-- bootstrap -->
    <!-- script -->
    <script src="{{ static('js/app.js') }}"></script>
</html>
