{% if request and request.user.is_authenticated %}
    {% extends "layout/lm.j2" %}
{% else %}
    {% import "symbols/button.j2" as buttons %}
    {% extends "layout/m.j2" %}
{% endif %}
{% block main %}
    {% if request and request.user.is_authenticated %}
        <p class="mt-4">{{ message }}</p>
    {% else %}
        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-4">
                <div class="min-vh-100 d-flex flex-column align-items-stretch justify-content-center">
                    <div class="d-flex mt-4 mb-4 align-items-center">
                        <img class="me-2" src="{{ static("img/owl.svg") }}" width="42" height="42" alt="Owl">
                        <h1 class="m-0">{{ code }} Error</h1>
                    </div>
                    <p class="mb-4">{{ message }}</p>
                    <div>{{ buttons.hrefButton(text='Go to the login page', url=url('users:signin') , classes='mb-2') }}</div>
                    <div>{{ buttons.hrefButton(text='Go to the signup page', url=url('users:signup') , classes='mb-2') }}</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
