{% extends "layout/base.njk" %}

{% block special %}
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <!-- script -->
    <script src="{{ static('js/app.js') }}"></script>
{% endblock %}

{% import "modules/heading.njk" as hg %}
{% import "modules/left.njk" as lg %}
{% import "modules/messages.njk" as messages %}

{% block body %}
    <body class="container d-flex flex-column flex-lg-row bg-darker">
        <div class="row w-100 pt-4">
            <aside class="col-12 col-lg-3">
                {{ lg.left(activePage, request) }}
            </aside>
            <main class="col-12 col-lg-9 mt-5 mt-lg-0">
                {{ hg.bigLmHeading(headingCategory, headingHeading) }}
                <div class="wrapper">
                    {% block chart %}{% endblock %}
                </div>
                {{ messages.lmMessages(request) }}
                {% block main %}{% endblock %}
            </main>
            <div class="wrapper">
                {% block modals %}{% endblock %}
            </div>
        </div>
    </body>
{% endblock body %}
