{% extends "layout/base.njk" %}

{% block body %}
    <body class="bg-darker">
    <main class="container">
        {% block main %}

        {% endblock %}
    </main>
    </body>
{% endblock body %}
