.form-child{
	@extend .form-group;
	&--label{

	} 
	&--input{
		@extend .form-control;
	}
	&--select{
		@extend .form-control;
		@extend .custom-select;
		display: block;
	}
	&--textarea{
		@extend .form-control;
	}
	&--group{
		@extend .input-group;
	}
	&--submit-button{
		@extend .btn;
		@extend .btn-dark;
		padding-bottom: .5rem;
	}
	&--helptext{
		@extend .form-text;
		@extend .text-muted;
	}
	&--errors{
		@extend .invalid-feedback;
		white-space: normal;
		display: block;
		font-size: 1rem;
	}
	&--cancel-button{
		padding-bottom: .5rem;
	}
} 


// prevent auto zoom in on ios
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px!important; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px!important; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px!important; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px!important; }
}