.django-form{
	p{
		@extend .form-group;
		input{
			@extend .form-control;
			font-size: 16px;
		}
		select{
			@extend .form-control;
			@extend .custom-select;
			display: block;
			font-size: 16px;
		}
		textarea{
			@extend .form-control;
			font-size: 16px;
		}
		.helptext{
			@extend .form-text;
			@extend .text-muted;
		}
	}
}
